$red: #ff4c52;
$darkGray: #191a19;
$gray: #727372;
$lightGray: #c0c2c0;

$green: #5fb336;
$orange: #faa64b;
$bgColor: #f0f1f2;
$btnGreen: #4bb262;
$btnLightGrey: #ccc;
$btnRed: #fe686d;
$whiteColor: #fff;
$blackColor: #000;
$darkGray: #666;
$orderleft: 15px;
$orderCon: #565a5c;
$btnGray: #d7d9d7;
