  <div id="dotExterior">
    <header class="t_bar">
      <h1>特产<a href="javascript:history.back(-1);"><i class="iconfont h_left h_20">&#xe61f;</i></a></h1>
      
    </header>
    
    <div class="content dot-exterior tmm-local-specialty">
      <div class="tmm-local-specialty-cards">

      <div class="card tmm-local-specialty-card" ng-repeat="exterior in dotExteriorInfo.exterior_link_arr">
        <div class="card-content" ng-click="exteriorShowMore(exterior.item_link,exterior.item_type.value,exterior.item_id)">
          <div class="list-block media-list">
            <ul>
              <li class="item-content">
                <div class="item-media tmm-local-specialty-item-media">
                 <img ng-src="{{exterior.item_img}}">
                </div>
                <div class="info_txt_ex">
                  <div class="item-title-row">
                    <div class="item-title tmm-local-specialty-item-title">{{exterior.item_name}}</div>
                  </div>
                  <div class="tmm-local-specialty-item-subtitle">{{exterior.item_info}}
                  </div>
                  
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div> 

    </div>

  </div>