<div id="my">
    <header class="t_bar">
        <h1>我的<!-- <a href="shezhi.html" class="iconfont h_right h_20">&#xe626;</a> --></h1>
    </header>

    <div class="content">

        
        <!-- 登录部分 -->
        <div ng-if="!isLogin" ng-click="toLogin()" class="my_login">
            快速登录帐号
        </div>

        <!-- 登录成功部分 -->
        <div ng-if="isLogin" class="wode">
            <a style="width:80%;" ng-href="#/myinfo">
                <div class="wode_img"><img ng-src="images/header.png"></div>
                <div class="wode_txt">
                    <h3>{{user.userInfo.phone}}</h3>
                </div>
            </a>
            <div style="width:20%;"  ng-click="showBar()">
                <div class="h_right h_14 tmm-login-out" >退出</div>
            </div>
        </div>

        <!-- <section class="dingdan">
            <p ng-click="goPage('myorder')" class="p_list"><span class="side_tit">我的订单</span><i class="iconfont sec_l">&#xe627;</i><i class="iconfont sec_r">&#xe634;</i></p>
            <div class="line"></div>
            <p ng-click="goPage('myjoinact')" class="p_list"><span class="side_tit">我参加的活动</span><i class="iconfont sec_l">&#xe629;</i><i class="iconfont sec_r">&#xe634;</i></p>
        </section>

        <section class="jilu">
            <p ng-click="goPage('wodezan')" class="p_list"><span class="side_tit">我的赞</span><img class="sec_l" style="height: 20px;position:absolute;top:10px;" src="images/zan_red_2.png" alt=""><i class="iconfont sec_r">&#xe634;</i></p>
        </section> -->
        <div class="tmm-con-icon">
            <div class="col-33" id="tmm-my-order" ng-click="goPage('myorder')">
                <i class="icon ticon-order-outline"><img src="images/png/order@2x.png"></i>
                <p>我的订单</p>
            </div>
            <div class="col-33" id="tmm-my-praise" ng-click="goPage('wodezan')">
                <i class="icon ticon-praise"><img src="images/png/parise@2x.png"></i>
                <p>我的赞</p>
            </div>
            <div class="col-33" id="tmm-my-join-act" ng-click="goPage('myjoinact')">
                <i class="icon ticon-active"><img src="images/png/active@2x.png"></i>
                <p>我参加的旅游活动</p>
            </div>
            <!-- <div class="col-33" id="tmm-my-activity">
                <i class="icon ticon-flag-outline"><img src="images/png/flag@2x.png"></i>
                <p>我发起的活动</p>
            </div>
            <div class="col-33 tmm-my-msg">
                <i class="icon ticon-msg"><img src="images/png/message@2x.png"></i>
                <p>我的消息</p>
            </div>
            <div class="col-33 tmm-my-tour">
                <i class="icon ticon-dingzhi"><img src="images/png/custom@2x.png"></i>
                <p>我的定制游</p>
            </div> -->
        </div>


    </div>

    <footer class="f_bar">
        <a ng-href="#/tuijian">
            <i class="iconfont">&#xe619;</i>
            <span>推荐</span>
        </a>
        <a ng-href="#/tansuo">
            <i class="iconfont">&#xe614;</i>
            <span>觅镜</span>
        </a>
        <a ng-href="#/mixian">
            <i class="ticon icon-mixiantubiao"></i>
            <span>觅鲜</span>
        </a>
        <a class="active" ng-href="#/my">
            <i class="iconfont">&#xe61d;</i>
            <span>我的</span>
        </a>
    </footer>
    
</div>