<ion-view title="" hide-tabs="true">
  <ion-nav-buttons side="left">
    <i class="icon-back" nav-back="back"></i>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="bar bar-header">
      <div class="title act-title">
        <span class="title-type">
          <span ng-click="showTab(1)" ng-class="{'active':isPayType == 1}">自费</span>
          <span ng-click="showTab(2)" ng-class="{'active':isPayType == 2}">代付</span>
        </span>
      </div>
    </div>
  </ion-nav-title>

  <ion-content overflow-scroll="false">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <div class="tmm-order-list">
      <joinact-item></joinact-item>
    </div>
    <ion-infinite-scroll on-infinite="loadMore()" ng-if="model.nextPage" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
