@charset "UTF-8";
.tmm-my-bankprotocal {
  padding: 0 16px 30px 16px;
  line-height: 24px;
  font-size: 13px;
  color: #666666;

  &>:first-child{
    padding-top: 11px;
    margin-top: 0;
  }
  &>div {
    margin-top: 10px;
  }
}
