<ion-view hide-tabs="true">
  <navbar title="订单详情">
    <div class="left">
      <i class="icon-back" nav-back="back" ng-if="actback == 0"></i>
      <i class="icon-back" ui-sref="tab.mycreateact" ng-if="actback == 1"></i>
    </div>
  </navbar>
  <ion-content class="tmm-my-order-detail">
    <div class="main-title">出游日期</div>
    <div class="main-con">{{model.go_time}}</div>
    <!--吃住玩列表-->
    <div class="main-title">项目列表</div>
    <div class="order-wrap" ng-class="$first?'topBottom':''">
      <div class="day" ng-repeat-start="(key,value) in model.items_fare" ng-if="key%2">{{key | formatDay}}</div>
      <div ng-repeat-end ng-repeat="list in value">
        <div class="det-list" ng-repeat="attr in list">
          <div class="title">
            <i class="titicon" ng-class="{'icon-order-eat': attr.classliy.value==1, 'icon-order-live':attr.classliy.value==2, 'icon-order-play':attr.classliy.value==3}"></i>{{attr.name}}
            <span class="free" ng-if="attr.free_status.value =='0'">此项目免费</span>
            <i class="code" ng-click="showCode(attr.barcode.link,attr.barcode.is_barcode)" ng-if="attr.free_status.value !='0'" ng-class="{'icon-code': attr.barcode.is_barcode != 1, 'icon-red-code': attr.barcode.is_barcode == 1}"></i>
          </div>
          <div ng-if="attr.free_status.value !='0'" ng-repeat="attr1 in attr.fare">
            <div class="detail line">
              <span>{{attr1.name}}</span>
              <span>{{attr.classliy.value==2?(attr1.room_number | room):attr1.info}}</span>
              <span>{{attr1.number}}</span>
              <span>￥{{attr1.count}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--吃住玩列表结束-->
    <div class="main-title">主要联系人</div>
    <div class="main-con" ng-repeat="retinue in model.retinue" ng-if="retinue.is_main == 1">{{retinue.name}}</div>
    <div ng-if="hasRetinue == 1">
      <div class="main-title">随行人员</div>
      <div class="main-con row">
        <span class="entourage" ng-repeat="retinue in model.retinue" ng-if="retinue.is_main != 1">{{retinue.name}}</span>
      </div>
    </div>
    <div class="main-title">订单状态</div>
    <div class="main-con">订单编号：{{model.order_no}}</div>
    <div class="main-title"></div>
    <div class="mian-con-det">索取发票请拨打电话: 400-019-7090</div>
    <div class="main-title"></div>
    <div class="main-title"></div>
  </ion-content>
  <div class="order-btn" ng-if="model.status.centre_status.value =='0'">
    <span class="price">￥{{model.order_price.value}}</span>
    <span class="btn red" ng-click="orderPay({{model.value}}, {{model.order_price.value}})">确认支付</span>
    <span class="btn gray" ng-if="model.status.centre_status.value =='-1' && model.status.order_status.value =='0'">等待确认</span>
  </div>
  <div class="order-btn" ng-if="model.status.centre_status.value =='-1' && model.status.order_status.value =='0'">
    <span class="price">￥{{model.order_price.value}}</span>
    <span class="btn gray">等待确认</span>
  </div>
</ion-view>
