<!-- 我发起的活动 -->
<ion-view view-title="提现申请记录" cache-view="false" hide-tabs="true">
  <ion-nav-buttons>
    <i class="icon-back" nav-back="back"></i>
  </ion-nav-buttons>
  
  <ion-content class="tmm-withdraw-record" overflow-scroll="false">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>


    <div ng-repeat="drawRecord in list_data" class="tmm-record-list">
      <div class="record-item">
        <div>
          <b>提现</b>
          <p class="record-time">{{drawRecord.add_time}}</p>
        </div>
        <div class="record-money">
          {{drawRecord.price}}
          <p class="suc" ng-if="drawRecord.audit_status.value == 3">提现成功</p>
          <p class="fail" ng-if="drawRecord.audit_status.value == 2">打款中...</p>
          <p class="fail" ng-if="drawRecord.audit_status.value == 0 || drawRecord.audit_status.value == 1">审核中...</p>
          <p class="fail" ng-if="drawRecord.audit_status.value == -1 ||drawRecord.audit_status.value == -2 || drawRecord.audit_status.value == -3">提现失败</p>
        </div>
      </div>

      <div class="record-reason" ng-if="drawRecord.cash_status.value == -1">
        原因：{{drawRecord.remark_first}}
      </div>
      <div class="record-reason" ng-if="drawRecord.cash_status.value == -2">
        原因：{{drawRecord.remark_double}}
      </div>
      <div class="record-reason" ng-if="drawRecord.cash_status.value == -3">
        原因：{{drawRecord.remark_submit}}
      </div>
    </div>


    <div class="record-conNo" ng-if="listNum == 0">你暂时还没有提现申请记录哦！</div>
    <ion-infinite-scroll distance="0.1%" ng-if="hasMoreData()" on-infinite="loadMore()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>


