<ion-view view-title="景点详情" hide-tabs>
  <ion-nav-buttons>
    <i class="icon-back" nav-back="back"></i>
  </ion-nav-buttons>
  <ion-content>
    <!--头部-->
    <shop-banner></shop-banner>
    <div class="shop-info">
      <div class="shop-title">
        {{model.name}}
        <span class="shop-sold" ng-if="model.is_sale.value == '1'">已售出{{model.down}}份</span>
      </div>
      <div class="shop-price">
        ￥{{model.price}}/人起
      </div>
      <div class="shop-intro">
        {{model.page_info}}
      </div>
      <div class="shop-more">
        <span class="shop-notice" ui-sref="tab.book-info({type:2, id:model.dot_id})">
          <i class="icon-more"></i> 预订须知
        </span>
      </div>

      <div ng-if="model.exterior_link_num" class="farmList" ui-sref="tab.farm-list({link:link})">
        <div class="tit">{{model.exterior_link_num}}种相关特产<i class="icon-right-arrow"></i></div>
        <div class="txt"><span ng-repeat="item in model.exterior_link_arr">{{item.item_name}}</span></div>
      </div>
    </div>
    <!--头部-->
    <div class="shop-detail-title">该景区项目</div>
    <div class="shop-wrap">
      <div class="img-pos" ng-class="{'icon-eat': attr.item_type.value==1, 'icon-live':attr.item_type.value==2, 'icon-play':attr.item_type.value==3}" ng-repeat-start="attr in model.list"></div>
      <div class="item-title">{{attr.item_name}}</div>
      <div class="item-address">
        {{attr.address}}
      </div>
      <div class="item-more" ui-sref="tab.more-detail{{attr.item_type.value}}({link:attr.item_link})"><span>●</span><span>●</span><span>●</span></div>
      <div ng-repeat-end class="img">
        <img ng-src="{{attr.item_img}}" ui-sref="tab.more-detail{{attr.item_type.value}}({link:attr.item_link})">
      </div>
    </div>
  </ion-content>

  <shop-indicator type="dot"></shop-indicator>

</ion-view>
