@charset "UTF-8";
.tmm-withdraw-record {
  background-color: $bgColor;
  .tmm-record-list {
    @extend %border-bottom;
    background-color: #fff;
    padding: 16px;
    
    .record-item {
      display: flex;

      &>b{color: #444;}

      p{ margin: 0;}

      .record-time {
        color: #8e8e93;
        font-size: 12px;
        white-space: normal;
        margin-left: 0;
        line-height: 25px;
      }

      .record-money {
        display: inline-block;
        max-height: inherit;
        color: black;
        text-align: right;
        font-size: 18px;
        line-height: 20px;
        position: absolute;
        right: 16px;

        &>p{
          font-size: 10px;
        }

        .suc {
          color: #39ab53;
        }
        .fail {
          color: #ff3333;
        }
      }
    }

    .record-reason {
      color: #000;
      font-size: 12px;
      white-space: normal;
      height: auto;
      line-height: 21px;
      position: relative;
      overflow: hidden;
      word-break: break-all;
    }  
  }
  
  .record-conNo {
    padding-top: 35px;
    text-align: center;
    line-height: 48px;
    color: #403a39;
  }
}