@charset "UTF-8";
@import 'variables';
@import 'mixin';

.tmm-act-pay-type {
  .pay-type-pos {
    margin: 10px 0px;
    height: 240px;
    background: #fff;

    .pay-cir {
      font-weight: bold;
      font-size: 30px;
      color: #fff;
      height: 85px;
      width: 85px;
      line-height: 85px;
      text-align: center;
      border-radius: 50%;
      margin: 0 auto;
      top: 45px;
      position: relative;
    }

    .pay-cir-all {
      background-color: #faa64b;
    }

    .pay-cir-aa{
      background-color: #53de8a;
    }

    .pay-cir-aa-small { font-size: 30px; }

    .pay-info {
      font-size: 14px;
      padding: 16px;
      margin-top: 45px;
      color: $darkGray;
      text-align: center;
    }
  }
}

/* 活动-》填写信息 */
.tmm-launch-act-info {
  font-size: 14px;

  .launch-act-info {
    @include hairline(topBottom);
    height: 45px;
    line-height: 45px;
    padding: 0 16px;
    margin: 10px 0px;
    display: flex;
    background: #fff;

    .launch-info-title {
      color: $gray;
      float: left;
    }

    .launch-info-content {
      display: inline-block;
      float: left;
      .conten-txt {
        text-align: center;
        color: $gray;
        line-height: 30px;
        height: 30px;
        border: none;
      }
      .launch-open-check{
        width: 10px;
        height: 10px;
        border: 1px solid $lightGray;
        border-radius: 50%;
        display: inline-block;
      }
      .lab-check input[type="checkbox"]:checked + i.launch-open-check {
        background-color: #53de8a;
      }
    }

    .launch-info-time {
      position: absolute;
      right: 16px;
    }
  }

  .launch-intr {
    font-size: 12px;
    padding: 0 16px;

    .intr-cont {
      color: $gray;
    }
  }
  
}

.tmm-card-btn {

  margin: 30px 0;
  width: 100%;

  .card-btn {
    display: block;
    text-align: center;
    background-color: #fe686d;
    border-radius: 2px;
    line-height: 35px;
    color: #fff;
    font-size: 16px;
    border: 1px solid transparent;
    margin: 16px;
  }
}

.tmm-edit-act {
  .edit-title {
    margin-top: 34px;
    
    .content-txt {
      color: #727372;
      line-height: 45px;
      height: 45px;
      border: none;
      text-align: center;
      border-radius: 2px;
    }
    .title-width {
      width: 90%;
    }
    .num-width {
      margin-left: 42px;
      width: 60%;
    }

  }

  .edit-tit-name {
    text-align: center;
  }

  .card-btn {
    display: block;
    text-align: center;
    background-color: #ff4c52;
    border-radius: 2px;
    line-height: 45px;
    color: #fff;
    font-size: 16px;
    border: 1px solid transparent;
    margin: 42px;
  }
}

.tmmAPP-pay {
  margin: 0px;
  border-radius :0;
  .color-payYellow{
    color: #faa64b;
  }
  .color-payGreen {
    color: #53de8a;
  }
  .color-title {
    line-height: 50px;
    height: 50px;
    text-align: left;
    color: #8d8f8d;
    font-size: 18px;
    padding-left: 16px;
  } 
  .actions-modal-button:last-child, .actions-modal-button:first-child  {
    border-radius :0;
  }
}

.tmm-seekfun-btn{
  @include hairline(top);
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  font-size: 16px;
  line-height: 44px;
  text-align: center; 
  z-index: 1;
  background-color: #fff;

  .outline-button {
    color: #727372;
    margin-top: 7px;
    display: inline-block;
    padding: 0 10px;
    font-size: 12px;
    line-height: 25px;
    border-radius: 2px;
    border: 1px solid #c0c2c0;
    margin-left: 8px;
  }
}

label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox{
  background-color: red;
}


