<ion-view title="精品推荐">
  <ion-content delegate-handle="ptr-content">
    <ion-refresher pulling-text="{{recommendModel.pullingText}}" on-pulling="doPulling()" on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list class="tmm-recommend-list">
      <ion-item class="tmm-recommend-item" ng-repeat="obj in recommendModel.recommendList">
        <div class="tmm-pic">
          <img ng-src="{{obj.image}}" ng-click="showView({{obj.classliy.value}}, '{{obj.link}}')">
          <!-- <img ng-src="{{obj.image}}" ng-if="obj.classliy.value==1" ng-click="showView({{obj.classliy.value}}, '{{obj.link}}')">
          <img ng-src="{{obj.image}}" ng-if="obj.classliy.value==2" ng-click="showView({{obj.classliy.value}}, '{{obj.link}}')">
          <img ng-src="{{obj.image}}" ng-if="obj.classliy.value==3" ng-click="showView({{obj.classliy.value}}, '{{obj.link}}')"> -->
        </div>
        <div class="tmm-txt">
          <div class="tmm-title"><span class="tmm-b-border">{{obj.name}}</span></div>
          <div class="tmm-info">{{obj.info}}</div>
          <span class="tmm-praise"><span class="tmm-praise-distance">距离</span>{{obj.distance}}</span>
          <span class="tmm-type dot" ng-if="obj.classliy.value==1">景点</span>
          <span class="tmm-type line" ng-if="obj.classliy.value==2">线路</span>
          <span class="tmm-type act" ng-if="obj.classliy.value==3">活动</span>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll distance="0.1%" ng-if="hasMoreData()" on-infinite="loadMore()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
