<!-- 我发起的活动 -->

<ion-view view-title="" cache-view="false" hide-tabs>

  <ion-nav-buttons>
    <i class="tmm-ion-left tmm-search-left ion-android-arrow-back" ui-sref="tab.seek" nav-direction="back"></i>
    <form  name="search_form" ng-submit='souSuoContent()'>
      <div class="bar bar-header bar-stable">
        <div class="item-input-inset tmm-item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" class="tmm-search-input" ng-model="json.searchText" id="searchContent" ng-change="searchChange()">
          </label>
          <span class="button button-clear tmm-button-clear" ng-show="btnClear" ng-click="btnClearCon()" >
            取消
          </span>
        </div>
      </div>
    </form>
  </ion-nav-buttons>
  
  <ion-content class="tmm-search-content">
    <div ng-show="showHistory">
      <ul class="list tmm-search-list">
        <li class="item tmm-search-item tmm-history">
          搜索历史
        </li>
      </ul>
      <div class="tmm-history-li" >
        <ul class="list tmm-search-list">
          <li class="item tmm-search-item" ng-repeat="attr in filterHistory track by $index" ng-click="souSuoInfoContent('{{attr}}')">
            {{attr}}
          </li>
        </ul>
      </div>
      <ul class="list" style="margin-top:-1px;">
        <li class="item tmm-search-clear" ng-click="clearLocal()">
          清除搜索历史
        </li>
      </ul>
    </div>
    <!--搜索结果-->
    <div ng-show = "showContent">
      <ion-refresher pulling-text="{{searchModel.pullingText}}" on-pulling="doPulling()" on-refresh="doRefresh()">
      </ion-refresher>
      <ion-list class="tmm-recommend-list">
        <ion-item class="tmm-recommend-item" ng-repeat="obj in json.list track by $index">
          <div class="tmm-pic">
            <img ng-src="{{obj.image}}" ng-click="showView({{obj.classliy.value}}, '{{obj.link}}')">
          </div>
          <div class="tmm-txt">
            <div class="tmm-title"><span class="tmm-b-border">{{obj.name}}</span></div>
            <div class="tmm-info">{{obj.info}}</div>
            <span class="tmm-praise"><span class="tmm-praise-distance">距离</span>{{obj.distance}}</span>
            <span class="tmm-type dot" ng-if="obj.classliy.value==1">景点</span>
            <span class="tmm-type line" ng-if="obj.classliy.value==2">线路</span>
            <span class="tmm-type act" ng-if="obj.classliy.value==3">活动</span>
          </div>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll distance="0.1%" ng-if="hasMoreData()" on-infinite="loadMore()">
      </ion-infinite-scroll>
    </div>
    <!--搜索结果-->
  </ion-content>
</ion-view>


