<div ng-repeat="attr in model.list" class="shop-wrap">
  <div class="schedule">
    <i class="bracket">&lceil;</i> {{attr.day_content}}
    <i class="bracket">&rfloor;</i>
  </div>
  <div class="schedule-day" ng-class="{'line': model.c_id == 2, 'act': model.c_id == 3}">
    <div class="circle"></div>
    <div class="day">{{attr.descript_day}}</div>
    <div class="arrow"></div>
  </div>
  <div class="items" ng-repeat="attr2 in attr.dot_list">
    <div class="img-pos" ng-class="{'icon-eat': attr3.item_type.value==1, 'icon-live':attr3.item_type.value==2, 'icon-play':attr3.item_type.value==3}" ng-repeat-start="attr3 in attr2.day_item"></div>
    <div class="item-title">{{attr3.item_name}}</div>
    <div class="item-address">
      {{attr3.address}}
    </div>
    <div class="item-more" ui-sref="tab.more-detail{{attr3.item_type.value}}({link:attr3.item_link})"><span>●</span><span>●</span><span>●</span></div>
    <div ng-repeat-end class="img">
      <img ng-src="{{attr3.item_img}}" ui-sref="tab.more-detail{{attr3.item_type.value}}({link:attr3.item_link})">
    </div>
  </div>
</div>
