<div id="add_bank">
  <header class="t_bar">
    <h1>添加银行卡<a href="javascript:history.back(-1);" class="iconfont h_left h_20">&#xe61f;</a>
      </h1>
  </header>
  <div class="content">
    <form name="signup_form" novalidate ng-submit="signupForm()">
      <div class="info tb_border">
        <div ng-show="showMsg" class="mob_form_tip">{{msg}}</div>
        <p class="p_list b_border">
          <span class="side_tit">开户行</span>
          <select name="bankname" 
                  ng-model="bankInfo" 
                  ng-options="bankList.name for bankList in bankList" 
                  required
                  ng-focus="clearMsg()"
                  autocomplete="off"
                  >
            <option value="" name="isDefault">开户银行分行</option>
          </select>
        </p>
        <p class="p_list b_border">
          <span class="side_tit">开户名</span>
          <input type="text" name="username"
                  ng-focus="clearMsg()" 
                  required 
                  ng-model="regText.username" 
                  placeholder="开户姓名" 
                  autocomplete="off">
        </p>
        <p class="p_list">
          <span class="side_tit">对公银行帐号</span>
          <input type="tel" name="code" 
                ng-focus="clearMsg()" 
                required 
                ng-model="regText.code" 
                placeholder="对公帐号" 
                autocomplete="off">
        </p>
      </div>
      <div class="bg_btn">
        <input class="sub_btn sub_btn" type="submit" value="下一步">
      </div>
    </form>
  </div>
</div>
