
<ion-view view-title="我的">
  <ion-content class="tmm-my-content" scroll="false">
    <div>
      <div ng-if="!userInfo" class="login-item" ng-click="login()">快速登录帐号
      </div>
      <div ng-if="userInfo" class="header-item">
        <div class="header-wrap" ui-sref="tab.myInfo">
          <img class="header-logo" src="images/header.png">
          <div class="header-tel">{{userInfo.phone}}</div>  
        </div>
        <div class="header-exit" ng-click="logout()">退出</div>
      </div>
      <div class="menu-item" >
        <div class="menu-row">
          <div class="col" ui-sref="tab.myorder">
            <i class="icon-my-order"></i>
            <p>我的订单</p>
          </div>
           <div class="col" ui-sref="tab.mywallet">
            <i class="icon-my-flag"></i>
            <p>我的钱包</p>
          </div>
          <div class="col" ui-sref="tab.myjoinact">
            <i class="icon icon-participate-act"></i>
            <p>我参加的觅趣</p>
          </div>
        </div>

        <div class="menu-row">
          <div class="col" ui-sref="tab.mypraise">
            <i class="icon-my-praise"></i>
            <p>我的赞</p>
          </div>
          <div class="col" ui-sref="tab.mycreateact">
            <i class="icon-launch-act"></i>
            <p>我发起的觅趣</p>
          </div>
          <div class="col" style="display:none;">
            <i class="icon-my-msg"></i>
            <p>我的消息</p>
          </div>
        </div>
      </div>
      <!-- <span class="version">版本号：V1.2.5</span> -->
    </div>
  </ion-content>
</ion-view>
