<ion-view view-title="修改手机号" hide-tabs>
  <ion-nav-buttons side="left">
    <i class="tmm-ion-left icon icon-back" nav-back></i>
  </ion-nav-buttons>
  <ion-content class="updatePhone" over-scroll="false">
    <div class="formwrap" ng-class="{'next':isNext}">
      <div class="setPhoneWrap">
        <div class="form">
          <div class="cell input">
            <input ng-model="old.phone" type="text" placeholder="请输入旧手机号">
          </div>
          <div class="cell input">
            <input ng-model="old.code" type="text" placeholder="请输入短信验证码">
            <div class="codeBtn" ng-class="{'gray':disable}" ng-click="getCode('old')">{{txt}}</div>
          </div>
        </div>
        <div class="f_button">
          <button class="submit" ng-click="nextStep()">下一步</button>
        </div>
      </div>
      <div class="setPhoneWrap">
        <div class="form">
          <div class="cell input">
            <input ng-model="new.phone" type="text" placeholder="请输入新手机号">
          </div>
          <div class="cell input">
            <input ng-model="new.code" type="text" placeholder="请输入短信验证码">
            <div class="codeBtn" ng-class="{'gray':disable}" ng-click="getCode('new')">{{txt}}</div>
          </div>
        </div>
        <div class="f_button">
          <button class="submit" ng-click="submit()">确认</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
