 /**************************************************************************/
 /**
 * 活动 --》订单详情
 */
.tmm-side-tit{
	font-size:15px;
	color:#111;
}
.tmm-activity-order-list{
	line-height: 20px !important;
    padding-top: 10px;
}

.tmm-activity-order-list {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 0px;
  color: #858b8f;
  white-space: nowrap;
}
.tmm-activity-li{
	overflow:hidden;
}

.tmm-activity-order-list .activity-order-list{
  font-size: 14px;
  color: #858b8f;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom:10px;
}
.tmm-activity-order-list .activity-order-list:nth-child(1) {
  width: 50%;
}
.tmm-activity-order-list .activity-order-list:nth-child(2) {
  width: 50%;
}

.tmm-activity-order-status p{
	font-size:13px;
	padding:0px 6px;
}
.tmm-activity-main-retinue{    
	background-color: #FFFFFF;
    padding: 10px 10px;
    font-size: 13px;
    line-height: 25px;
    color: #565a5c;
	margin-bottom:75px;
}
h2{margin: 0px; padding: 0px;font-weight: normal;}
.h2_tit {height: 20px;background-color: #f0f1f2;font-size: 13px;color: #858b8f;}
.h2_tit,.h2_day {position: relative;padding-left:16px;}
.h2_day {height: 39px;padding: 0px;}
.icon_day {position: absolute;left: 50%;bottom: 10px;margin-left: -24px;padding: 4px 6px;background-color: #5fb336;color: #fff;font-size: 11px;line-height: 11px;}
.icon_day:after {content:"";height: 10px;width: 1px;position: absolute;bottom: -10px;left: 50%;background-color: #5fb336;}
.h2_day .icon_day:before {content:"";height: 10px;width: 1px;position: absolute;top: -10px;left: 50%;background-color: #5fb336;}

.tmm-activity-li .tmm-order-status,
.tmm-activity-li .tmm-order-status span {
  position: absolute;
  top: 0;
  right: 0;
  height: 36px;
  width: 36px;
}
.tmm-activity-li .tmm-order-status .tmm-icon-triangle{
	position: absolute;
    top: -4px;
    right: -20px;
    width: 60px;
    height: 12px;
    font-size: 9px;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.tmm-activity-li .tmm-order-status .tmm-tip-gray{background-color: #858b8f;}
.tmm-activity-li .tmm-order-status .tmm-tip-fukuan {background-color: #ff0054;}
.tmm-activity-li .tmm-order-status .tmm-tip-chuli {background-color: #00aaff;}
.tmm-activity-li .tmm-order-status .tmm-tip-xiaofei {background-color: #14cc14;}

 /**************************************************************************/
 /**
 * 活动 --》详情
 */
.tmm-activity-main-order{    
	background-color: #FFFFFF;
    padding: 10px 10px;
    font-size: 13px;
    line-height: 25px;
    color: #565a5c;
}

.tmm-activity-button{
	display: inline-block;
    width: 40%;
    margin: 0 10px;
    font-size: 15px;

    padding: 8px 0px;
    line-height: 15px;
    border-radius: 2px;
	

    color: #ff595f;
    border: 1px solid #ff595f;

    border-radius: 0px;
}