@charset "UTF-8";
.tmm-withdraw-message {
  background-color: $bgColor;
  height: 100% !important;

  .message-info {
    margin-top: 35px;
    font-size: 13px;
    color: #999;
    padding: 0 0 0 18px;
  }
  .message-content {
    margin: 35px 18px 50px 18px;
    font-size: 12px;

    .message-code {
      margin: 35px 0 10px 0;
      background-color: #fff;
      border-radius: 4px;
      padding: 0 16px;
      line-height: 48px;

      input {
        border: none;
        width: 50%;
        line-height: 34px;
        padding: 0 3px;
        font-size: 14px;
        outline: none;
      }
      .get-code-pos {
        display: block;
        width: 107px;
        height: 30px;
        float: right;
        font-size: 14px;
        margin-top: 9px;
        line-height: 30px;
        text-align: center;
        color: #fff;
      }
      .get-code {
        background: $btnGreen;
      }
      .get-code-active {
        background: #cdd2d4;
      }
    }
  } 
}

/**
 * 提交按钮公用
 */
.wall-message-button {
  margin: 32px 0 64px;
  padding: 0px 16px;

  .message-sub {
    border: none;
    text-align: center;
    width: 100%;
    border-radius: 2px;
    line-height: 44px;
    color: #fff;
    font-size: 16px;
    display: block;
    background-color: $btnLightGrey;
  }
  .message-sub-act {
    background-color: $btnGreen !important;
  }
  .bankcard-btnbg {
    background-color: $btnRed !important;
  }
}

a {
  text-decoration: none;
}
