<ion-view view-title="预订须知" hide-tabs cache-view="false">
  <ion-nav-buttons>
     <i class="icon-back" nav-back="back"></i>
  </ion-nav-buttons>
  <ion-content>

    <div class="bookinfo">
      <div class="booking-title cell">预订须知</div>
      <div class="booking-con" data-ng-bind-html="bookInfo">
         
      </div>
    </div>

    <div class="costinfo">
      <div class="booking-title cell">费用包含</div>
      <div class="booking-con" data-ng-bind-html="costInfo">
         
      </div>
    </div>

  </ion-content>
</ion-view>
