<ion-view hide-tabs="true">
  <navbar title="觅趣详情" back></navbar>

  <ion-content class="tmm-createact-detail" overflow-scroll="false">
    <div class="page-content">
      <div class="seekfun-banner">
        <img ng-src="{{model.image}}" ng-if="model.image != ''" class="commond_bg">
        <img src="images/defaultbig.jpg" ng-if="model.image == ''" class="commond_bg">
        <div class="seekfun-tabs">
          <span class="tab-item journery" ng-class="{'active':selType == 1}" ng-click="showTabs(1)">行程</span>
          <span class="tab-item join" ng-class="{'active':selType == 2}"  ng-click="showTabs(2)">参与人</span>
          <span class="tab-item intro" ng-class="{'active':selType == 3}"  ng-click="showTabs(3)">概要</span>
        </div>
      </div>
      
      <!-- 行程 -->
      <div ng-if="selType == 1">
        <div class="journery-block">
          <div class="seekfun-item">
            <div class="day-tit" ng-repeat-start="(key,value) in model.items_fare" ng-if="key%2">
              <div class="tit">{{key | formatDay}}</div>
            </div>
            <div  class="day-list" ng-repeat-end ng-repeat="list in value">
              <div  class="day-con"  ng-repeat="(key2, attr) in list">
                <div class="day-item"  ng-repeat="attr1 in attr.fare">
                  <span class="img">
                    <i class="icon-order-eat" ng-class="{'icon-order-eat': attr.classliy.value==1, 'icon-order-live':attr.classliy.value==2, 'icon-order-play':attr.classliy.value==3}"></i>
                  </span>
                  <div class="describe">
                    <div class="tit">{{attr.name}}</div>
                    <div class="txt">{{attr1.name}} 　{{attr.classliy.value==2?(attr1.room_number | room):attr1.info}}　￥{{attr1.price}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="join-block" >
          <p style="text-align: center;margin-top: 20px;">您还没有参与人哦！</p>
        </div>
      </div>
      
      <!-- 参与人 -->
      <div ng-if="selType == 2">
        <!-- 代付 A -->
        <!-- 是我发起的觅趣 -->
        <div ng-if="model.is_me == '1'">
          <div class="join-first-item">
            <p class="txt" ng-if="model.actives_pay_type.value == '1'">已参与人数：<span>{{orderModel.people}}成人  {{orderModel.children}}儿童</span></p>
          </div>
          <div class="join-list">
            <div ng-repeat="participant in orderListModel track by $index">
              <!-- 主要联系人 -->
              <div ng-if="participant.is_main == 1">
                <div class="join-item" style="margin:0px;">
                  <div class="item-top item-pepole">
                    <span class="time">主要联系人</span>
                  </div>
                  <div class="item-inner">
                    <p class="tit"><span class="name">{{participant.name}}</span></p>
                    <p class="describe"><span class="join-num">手机：{{participant.phone}}</p>
                  </div>
                </div>
              </div>
              <!-- 联系人列表 -->
              <div ng-if="participant.is_main == 0">
                <div class="join-item" style="margin:0px;">
                  <div class="item-top item-pepole">
                    <span class="time">{{participant.add_time}}</span>
                  </div>
                  <div class="item-inner">
                    <p class="tit">
                      <span class="name">{{participant.name}}</span>
                      <span class="phone">{{participant.phone}}</span>
                    </p>
                    <p class="describe">
                      <span class="join-num">参与人数：{{participant.people}}成人</span>
                      <span class="order-price" ng-if="participant.number - participant.people > 0">{{participant.number - participant.people}}儿童</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 不是我发起的活动 -->
        <div ng-if="model.is_me == '0'">
          <div class="join-first-item join-act-first">
            <p class="txt">已参与人数：<span>{{model.actives_info.attend_list.people}}成人  {{model.actives_info.attend_list.children}}儿童</span></p>
            <p class="txt">报名时间：<span>{{model.add_time}}</span></p>
          </div>
          <div class="join-list">
            
            <div class="join-item">
              <div class="item-pepole">
                <span  class="people-tit">主要联系人</span>
              </div>
              <div class="item-inner-pepole">
                <p class="people-tit">
                  <span class="name">{{model.actives_info.attend_list.name}}</span><span class="phone">{{model.actives_info.attend_list.phone}}</span>
                </p>
              </div>
              <div ng-if="model.actives_info.attend_list.children > 0">
                <div class="item-pepole">
                  <span class="people-tit">随行人</span>
                </div>
                <div class="item-inner-pepole">
                  <p class="people-tit b-border" ng-repeat="son in model.actives_info.attend_list.son"><span class="name">{{son.name}}</span><span class="phone">{{son.phone}}</span><span class="people-type">{{son.is_people.name}}</span></p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="loadmore" ng-show="loadmore" ng-click="loadMoreParticipant()">点击加载更多</div>
      </div>
      <!-- 概要 -->
      <div ng-if="selType == 3">
        <!-- 不可以编辑 -->
        <div class="intro-block">
          <div class="normal-group">
            <div class="normal-cell">
              觅趣名称
            </div>
            <div class="normal-cell">
              {{model.name}}
            </div>
          </div>
          <div class="normal-group">
            <div class="normal-cell">
              出游日期
            </div>
            <div class="normal-cell">
              {{model.actives_time.go_time}}
            </div>
          </div>
          <div class="normal-group">
            <div class="normal-cell">
              付款方式
            </div>
            <div class="normal-cell">
              {{model.actives_pay_type.value == '1'?'代付':'自费'}}
            </div>
          </div>
          <div class="normal-group">
            <div class="normal-cell">
              觅趣报名日期
            </div>
            <div class="normal-cell">
              {{model.actives_time.start_time}} 至 {{model.actives_time.end_time}}
            </div>
          </div>
          <div class="normal-group">
            <div class="normal-cell">
              觅趣参与人数
            </div>
            <div class="normal-cell">
              {{model.actives_info.number.value - model.actives_info.order_number.value}}/{{model.actives_info.number.value}}人
            </div>
          </div>

          <div class="normal-group" ng-if="userInfo.is_organizer == 1 && userInfo.organizer.status != 0">
            <div class="normal-cell">
              服务费（交通、导服及其他）
            </div>
            <div class="normal-cell">
              {{model.actives_info.tour_price.value}}元/人
            </div>
          </div>

          <div class="normal-group">
            <div class="normal-cell">
              觅趣公开性
            </div>
            <div class="normal-cell">
              {{model.actives_is_open.value == '1' ? '公开':'私密'}}
            </div>
          </div>
          <div class="normal-group">
            <div class="normal-cell">
              创建日期
            </div>
            <div class="normal-cell">
              {{model.actives_time.add_time}}
            </div>
          </div>
          <div class="normal-group">
            <div class="normal-cell">
              觅趣简介
            </div>
            <div class="editer-con" ng-bind-html="model.actives_info.remark | trustHtml"></div>
          </div>
        </div>
        <!-- 不可以编辑完成 -->
      </div>
    </div>
  </ion-content>
  <div class="tmm-act-btn" ng-if="model.delete.value !=''">
    <span ng-click="orderEnterCancle({{model.delete.value}})">取消报名</span>
  </div>
</ion-view>
