<ion-view view-title="银行卡管理协议" hide-tabs >
  <ion-nav-buttons side="left">
    <i class="tmm-ion-left icon icon-arrow-back" nav-back></i>
  </ion-nav-buttons>
  
  <ion-content>
    <div class="page-content tmm-my-bankprotocal">
      <div>田觅觅-银行卡管理协议（以下简称“本协议”）是田觅觅信息科技有限公司（以下简称“田觅觅”）与田觅觅用户(以下简称“您”)就“银行卡管理服务”（以下简称“本服务”）的使用等相关事项所订立的有效合约。</div>
      <div>您通过网络页面点击确认或以其他方式选择接受本协议，即表示您与田觅觅已达成协议并同意接受本协议的全部约定内容。在接受本协议之前，请您仔细阅读本协议的全部内容<span class="bold">（特别是以粗体下划线标注的内容）。</span>如果您不同意本协议的任意内容，请不要进行后续操作。</div>
      <div><span class="bold">“银行卡管理服务”</span>指通过本服务，您同意将银行卡与您登录的田觅觅账户进行绑定，以便您此次及今后可以通过田觅觅及第三方传输您的支付指令从您的银行卡账户中扣除有关款项给收款方；以便您此次及今后可以通过田觅觅将钱包余额提现至您的银行卡账户中。</div>
      <div style="font-weight: bold;text-decoration: underline;">您应确保您在开通和使用本服务时绑定的银行卡为您本人所有，并确保您将您的田觅觅账户与该银行卡绑定且用其支付的行为合法、有效，未侵犯任何第三方合法权益；否则因此造成田觅觅及其关联公司、持卡人损失的，您应负责赔偿并承担全部法律责任，田觅觅有权采取合理措施减轻该损失，包括但不限于冻结您的田觅觅账户及资金、从您的田觅觅账户扣除相应的款项等。</div>
      <div>您同意田觅觅收集您在使用本服务过程中所填写的包括但不限于姓名、银行卡卡号、手机号码、证件号码、证件类型、有效期等信息并有权自己或者委托第三方将上述信息发送至您的发卡银行进行验证，验证通过后，田觅觅就可以为您开通本服务。同时，发卡行与田觅觅保留随时变更上述确认要素作为校验标准的权利。</div>
      <div>您应妥善保管银行卡和田觅觅账号信息，包括但不限于银行卡卡号、密码、有效期，田觅觅账号、密码、密保信息、手机校验码等信息。如您遗失银行卡、泄露田觅觅账户密码或相关信息的，您应及时通知发卡行及田觅觅，以减少可能发生的损失。<span class="bold">因泄露上述银行卡信息、田觅觅账号信息、丢失银行卡等所致损失需由您自行承担。</span></div>
      <div>您同意，本协议适用中华人民共和国大陆地区法律。因田觅觅与您就本协议的签订、履行或解释发生争议，双方应努力友好协商解决。<span class="bold">如协商不成，田觅觅和您同意由人民法院管辖审理双方的纠纷或争议。</span></div>
      <div><span class="bold">本协议内容包括协议正文及所有田觅觅已经发布的或将来可能发布的田觅觅服务的使用规则。所有规则为本协议不可分割的一部分，与协议正文具有相同法律效力。</span>若您在本协议内容发生修订后，继续使用本服务的，则视为您同意最新修订的协议内容；否则您须立即停止使用本服务。</div>
    </div>
  </div>
 </ion-content>
</ion-view>