	<div id="jiebanyou">
		<header class="t_bar">
			<h1>我发起的结伴游<a href="javascript:history.back(-1);"><i class="iconfont h_left h_20">&#xe61f;</i></a><i ng-click="show()" class="iconfont h_right h_20">&#xe62a;</i></h1>
			<div ng-show="isShow" class="tip_txt">
				<p class="b_border"><i class="iconfont">&#xe642;</i><a href="#/xuanzeluxian">选择路线</a></p>
				<p><a href="#/xuanzhedian"><i class="iconfont">&#xe643;</i>选择点</a></p>
			</div>
		</header>
	
		<div class="content">

			<div class="media_wrap" ng-repeat="jb in json.jiebanyou">
				<div class="media_box">
					<a href="#/jbydetail_{{jb.yemian}}/{{jb.id}}">
						<div class="media">
							<div class="media_pic"><img ng-src="{{jb.imgs}}" alt="..."></div>
							<div class="media_txt">
								<p class="media_tit">{{jb.zhuti}}</p>
							</div>
						</div>
					</a>
					<div class="media_btn">
						<span>{{jb.butt}}</span><span>{{jb.butt}}</span>
					</div>
				</div>
				<span class="media_tri red"></span>
				<span class="media_tip3">{{jb.zhuangt}}</span>
			</div>
			
			
			<!--<div class="media_wrap">	
				<div class="media_box">
					<div class="media">
						<div class="media_pic"><img src="" alt="..."></div>
						<div class="media_txt">
							<p class="media_tit">海南海天盛筵豪华游轮7天6夜玩</p>
						</div>
					</div>

					<div class="media_btn">
						<span>取消</span><span>确认出游</span>
					</div>
				</div>

				<span class="media_tri purple"></span>
				<span class="media_tip4">审核失败</span>

			</div>
		
			<div class="media_wrap">
				
				<div class="media_box">
					<div class="media">
						<div class="media_pic"><img src="" alt="..."></div>
						<div class="media_txt">
							<p class="media_tit">海南海天盛筵豪华游轮7天6夜玩</p>
						</div>
					</div>

					<div class="media_btn">
						<span>取消</span><span>编辑</span>
					</div>
				</div>
				<span class="media_tri green"></span>
				<span class="media_tip5">用户<br>确认中</span>
			</div>

	
			<div class="media_wrap">
				
				<div class="media_box">
					<div class="media">
						<div class="media_pic"><img src="" alt="..."></div>
						<div class="media_txt">
							<p class="media_tit">海南海天盛筵豪华游轮7天6夜玩</p>
						</div>
					</div>
				</div>
			</div>-->

			
		</div>

		
	</div>