<div id="sousuo">
<form name='search_form' ng-submit='souSuoContent()'>
    <header class="t_bar">
        <div class="h_search">        
            <input id="searchContent" type="search" ng-model="json.searchText">
            <span class="icon_sousuo" ng-click="souSuoContent()"></span>
        </div>
        <a href="javascript:history.back(-1);" class="iconfont h_left h_20">&#xe61f;</a>

    </header>	

    <div class="content" ng-show="showHistory">
        <!--<section class="remen">
            <div class="sou_tit">热门搜索</div>
            <span ng-repeat="attr in data.popularSearch">{{attr}}</span>
        </section>-->
        <div class="historyList">
            <section class="history">
                <div class="sou_tit" ng-click="getLocal()">搜索历史</div>
                <p ng-repeat="attr in filterHistory track by $index" ng-click="souSuoInfoContent('{{attr}}')">{{attr}}</p>
            </section>
        </div>
        <div class="clear"><a href="javascript:;" ng-click='clearLocal()'>清除搜索历史</a></div>

    </div>

    <!--
    <div class="content">

         <div ng-repeat="attr in json" class="img_sec {{ $first ? 'no_t_border' : '' }}">
             <div class="sec_pic">
                 <a href="#/tuijiandetail_{{attr.porl}}/{{attr.id}}"><img class="banner_pic" ng-src="{{attr.imgUrl}}" alt="{{attr.imgAlt}}"></a>
                 <div class="tip {{attr.class}}">
                     <span>{{attr.type}}</span>
                 </div>
             </div>
             
             <div class="sec_txt">
                 <span class="title">{{attr.title}}</span>
                 <span class="state">{{attr.txt}}</span>
             </div>
         </div>
         
     </div>-->

    <div class="content" style="padding-top: 0px;" when-scrolled="showMore()" ng-show = "showContent">
        <!--<div>
            <section class="history" id="sousuoSection">
                <div class="sou_tit">搜索历史</div>
            </section>
            <div class="clear"><a href="javascript:;" ng-click='clearLocal()'>清除搜索历史</a></div>
            <button ng-click='addHistory()' >历史记录</button>
        </div>-->
    <div class="content_media">
        <div ng-repeat="attr in json.list" class="img_sec {{ $first ? 'no_t_border' : '' }}">

            <div class="sec_pic">
                 <img class="banner_pic" ng-click="goDetailPage(attr.classliy.value,attr.link)" ng-src="{{attr.image}}" alt="{{attr.name}}">
            </div>
             
            <div class="sec_txt">
                 <div class="left">
                    <span class="title">{{attr.name}}</span>
                    <div ng-class="attr.type.value==1 ? 'tip tip1' : 'tip tip2'">
                        <span>{{attr.type.name}}</span>
                    </div>
                    <span class="state">{{attr.info}}</span>
                </div>
                <div class="praise">
                    <div><img src="images/zan_black.png"></div>
                    <span class="num">{{attr.collect_count}}</span>
                </div> 
            </div>

        </div>
        <div ng-if="listNum == 0" class="conNo">没有找到合适的结果！</div>
    </div>
    </div>
     
</form>
</div>
