<div id="tianjia">
    <header class="t_bar">
        <h1>添加标签<a class="iconfont h_left h_20" href="javascript:history.back(-1);">&#xe61f;</a><span ng-click="saveTag()" class="h_right h_txt">保存</span></h1>
    </header>

    <div class="content">
        <h2 class="h2_tit no_t_border">已添加tag</h2>
        <div class="con_list_info">
            <span ng-click="removeTag($index)" ng-repeat="attr in info.select_tags">{{attr.name}}</span><span class="just_tag">　　</span>
        </div>

        <h2 class="h2_tit">未添加tag</h2>
        <div class="con_list_info no_tianjia">
            <span ng-click="addTag($index)" ng-repeat="attr in info.not_select_tags">{{attr.name}}</span>
        </div>
    </div>

    
</div>