<div id="myorderdetail">
	<header class="t_bar">
		<h1>订单详情<a href="javascript:history.back(-1);"><i class="iconfont h_left h_20">&#xe61f;</i></a></h1>
	</header>
	<div class="content pt_45">
			<h2 class="h2_tit">项目份数列表</h2>
			<section class="list project" ng-repeat="jb in json.detail">
				<div class="b_border">
					<div class="list_title">{{jb.menpiao}}<i class="iconfont">&#xe635;</i></div>
					<div class="list_info" ng-repeat="sd in jb.piao">
						<p><span class="w_50">{{sd.name}}</span><span class="w_30">{{sd.price}}</span><span class="w_20 r_txt">{{sd.shu}}</span></span></p>
						<div class="line"></div>
					</div>
				</div>	
			</section>

			<h2 class="h2_tit">主要联系人</h2>
			<section class="list relation">
				<p class="p_list b_border"><span class="side_tit">姓名</span>{{json.names}}</p>
				<p class="p_list b_border"><span class="side_tit">身份证</span>{{json.shengfz}}</p>
				<p class="p_list b_border"><span class="side_tit">手机号码</span>{{json.ple}}</p>
				<p class="p_list"><span class="side_tit">邮箱</span>{{json.emil}}</p>
			</section>
			
			<h2 class="h2_tit">随行人员<span id="btn1" class="h2_other">添加</span></h2>
			<section class="list members">
				<p class="p_list b_border" ng-repeat="jb in json.personnel">
					<span class="w_33" ng-repeat="reny in jb.ren">{{reny.per}}</span>
				<p class="p_list">
			</section>
			
			<h2 class="h2_tit">人数统计</h2>
			<section class="list">
				<p class="p_list"><span class="side_tit w_33">{{json.zongr}}</span></p>
			</section>
			
			<h2 class="h2_tit">合计价格</h2>
			<section class="list">
				<p class="p_list"><span class="side_tit w_33">{{json.price}}</span></p>
			</section>

			<h2 class="h2_tit">订单状态</h2>
			<section class="list orderstate b_border">
				<p>订单编号：{{json.dingdanh}}</p>
				<p>订单状态：{{json.dinzt}}</p>
				<p>创建时间：{{json.cjtime}}</p>
				<p>处理时间：{{json.chulitime}}</p>
			</section>
		
	</div>	
</div>
