<div id="pagetwo">
<header class="t_bar">
    <h1>{{line.name}}</h1>
    <a class="iconfont h_left h_20" href="javascript:history.back(-1);" ng-if="tuiJianDetailReturn == 0">&#xe61f;</a>
    <a class="iconfont h_left h_20" href="javascript:history.go(-3);" ng-if="tuiJianDetailReturn == 1">&#xe61f;</a> <!--从登录界面过来的直接跳回推荐 -->
    <a class="iconfont h_right h_20" ng-click="dianZhanOrNot()"><img src="{{ dianZhan.dianZhanValue == 1 ? 'images/zan_red_2.png' : 'images/zan_red.png' }}" class="praise"></a>
</header>
    
<div class="content pageLine">

    <div class="banner">
        <img ng-src="{{line.page_img}}" alt="">
    </div>


    <section ng-repeat="attr in line.list" class="info noborder">
        <div class="richeng" style="color: #565a5c">{{attr.day_content}}</div>
        <div class="xincheng">
            <div class="bg">
                <div class="bg_o"></div>
                <div class="bg_l"></div>
            </div>
            <div class="day"><span>{{attr.day}}</span></div>
        </div>
        
        <div ng-repeat="attr2 in attr.dot_list">
            <div ng-repeat-start="attr3 in attr2.day_item" class="xincheng_title">{{attr3.item_name}}</div>
            <div class="img">
                <img ng-src="{{attr3.item_img}}">
            </div>
            <a ng-repeat-end class="showmore" ng-click="showMore(attr3.item_link,attr3.item_type.value)">查看更多</a>
        </div>
    </section>

</div>


<div class="f_bar">
    <a ng-click="loadApp()" class="tuijian_goto" style="font-size: 14px;" >点击下载App</a>
</div>

</div>