<div id="pagetwo">
<header class="t_bar">
    <h1>{{point.name}}</h1>
    <a class="iconfont h_left h_20" href="javascript:history.back(-1);" ng-if="tuiJianDetailReturn == 0">&#xe61f;</a>
    <a class="iconfont h_left h_20" href="javascript:history.go(-3);" ng-if="tuiJianDetailReturn == 1">&#xe61f;</a> <!--从登录界面过来的直接跳回推荐 -->
    <a class="iconfont h_right h_20" ng-click="dianZhanOrNot()"><img src="{{ dianZhan.dianZhanValue == 1 ? 'images/zan_red_2.png' : 'images/zan_red.png' }}" class="praise"></a>
</header>

<div class="content">

    <div class="banner">
        <img ng-src="{{point.page_img}}" alt="">
    </div>

    <div class="wrap">
        
        <section ng-repeat="attr in point.list" class="info {{$last ? 'no_b_border' : ''}}">
            <h2>{{attr.item_name}}</h2>
            <div class="state">{{attr.item_info}}</div>
            
            <a class="showmore" ng-click="showMore(attr.item_link,attr.item_type.value)">查看更多</a>

            <div class="img">
                <img ng-src="{{attr.item_img}}">
            </div>
        </section>

    </div>

</div>
    
<div class="f_bar">
    <a ng-click="loadApp()" class="tuijian_goto" style="font-size: 14px;" >点击下载App</a>
</div>

</div>