@charset "UTF-8";
.tmm-createact-detail {
  background-color: $bgColor;
  .page-content {
    padding-bottom: 40px;
  }
}
.seekfun-banner {
  position: relative;
  width: 100%;
  padding-top: 66.6%;
  & > img {
    background-color: pink;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .seekfun-tabs {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    &>span {
      color: #a8a7a6;
      line-height: 40px;
      text-align: center;
      width: 32%;
      display:inline-block;
      &.active {
        position: relative;
        color: #fff;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          height: 2px;
          width: 100%;
          background-color: $red;
        }
      }
    }
  }
}

.seekfun-item {
  background-color: #fff;
 
  .day-tit {
    position: relative;
    height: 55px;
    padding-left: 18px;
    color: $red;
    border-top: 1px solid transparent;
    &:before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 27px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #000;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 29px;
      width: 1px;
      height: 10px;
      background-color: #000;
    }
    .tit {
      font-size: 15px;
      line-height: 15px;
      margin-top: 20px;
      margin-left: -10px;
    }
    .address {
      margin-top: 6px;
      font-size: 12px;
      line-height: 12px;
    }
  }
  &:last-of-type {
    .day-list {
      &:last-of-type {
        .day-con {
          &:last-of-type {
            .day-item {
              &:last-of-type {
                .img {
                  &:after {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .day-item {
    position: relative;
    height: 60px;
    .img {
      position: absolute;
      width: 59px;
      line-height: 50px;
      text-align: center;
      &:after {
        content: "";
        position: absolute;
        bottom: -16px;
        ;
        left: 29px;
        width: 1px;
        height: 21px;
        background-color: #000;
      }
      &>.icon {
        font-size: 24px;
      }
    }
    .describe {
      margin-left: 59px;
      height: 60px;
      box-sizing: border-box;
      @include hairline(bottom);
      .tit {
        padding-top: 14px;
        font-size: 14px;
        line-height: 14px;
        color: $darkGray;
      }
      .txt {
        margin-top: 8px;
        font-size: 12px;
        line-height: 12px;
        color: $gray;
      }
    }
  }
}

.journery-block {
  display: block;
}

.join-block {
  display: none;
}

.intro-block {
  /* display: none; */
}

.join-first-item {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 12px;
  font-size: 14px;
  color: $darkGray;
  background-color: #fff;
  @include hairline(bottom);
  .txt {
    flex: 1;
    width: 180;
    margin: 0;
    line-height: 20px;
    & > span {
      color: $red;
    }
  }
  .invite {

    display: block;
    min-width: 100px;
    padding: 0 8px;
    height: 36px;
    text-align: center;
    line-height: 35px;
    background-color: $orange;
    border-radius: 2px;
    color: #fff;
    font-size: 13px;
  }
}

.join-item {
  @include hairline(topBottom);
  margin: 10px 0;
  color: $gray;
  background-color: #fff;
  .item-top {
    padding: 0 12px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    @include hairline(bottom);
  }
  .item-pepole {
    @include hairline(bottom);
  }
  .item-pepole {
    background: #f0f1f2;
    /*height: 30px;*/
    /*line-height: 30px;*/
    padding-left: 10px;
  }
  .time {
    margin-right: 10px;
    vertical-align: -2px;
  }
  .status {
    margin-left: 10px;
  }
  .item-inner {
    height: 60px;
    padding: 0 12px;
    /* overflow: hidden; */
  }
  .item-inner-pepole {
    padding-left: 10px;
    background-color: #fff;
  }
  .people-type {
    font-size: 13px;
    right: 16px;
    position: absolute;
  }
  .tit {
    margin-top: 10px;
  }
  .people-tit {
    line-height: 40px;
    height:40px;
    color: #000;
    margin: 0;
  }
  .name {
    font-size: 14px;
    color: $darkGray;
    margin-right: 10px;
  }
  .phone {
    font-size: 13px;
  }
  .describe {
    font-size: 12px;
    margin: 6px 0 0;
  }
  .join-num {
    margin-right: 10px;
  }
}
.normal-group {
  margin: 10px 0;
}

.normal-cell {
  height: 44px;
  line-height: 44px;
  padding: 0 12px;
  background-color: #fff;
  @include hairline(bottom);
  &:nth-child(1) {
    @include hairline(topBottom);
  }

  .arrow {
    font-size: 14px;
    right: 16px;
    position: absolute;
  }
}

.editer-con {
  background-color: #fff;
  padding: 14px 12px;
  color: #c0c2c0;
}

// 下一步按钮
.tmm-navbar .ticon-arrow-back.next-step {
  transform: rotate(180deg);
}

.tmm-act-btn {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: $btnRed;
  background-color: $whiteColor;

  &>span {
    color: #ff4c52;
    margin-top: 7px;
    margin-bottom: 7px;
    display: inline-block;
    padding: 0 10px;
    font-size: 12px;
    line-height: 25px;
    border-radius: 2px;
    border: 1px solid #ff4c52;
    margin-left: 8px;
  }
}

.green {
  color: $green;
}

.loadmore {
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  text-align: center;
  margin-top: 10px;
}

.noParticipant {
  text-align: center;margin-top: 20px;
}