<ion-view hide-tabs>
  <navbar back title="我的信息"></navbar>

  <ion-content class="myInfo" over-scroll="false">

    <div class="group">
      <div class="cell" ng-click="updateNickname()">
        <div class="tit">昵称</div>
        <div class="txt">{{model.userInfo.nickname}}<i class="icon-right-arrow"></i></div>
      </div>
      <div class="cell" ng-click="updateGender()">
        <div class="tit">性别</div>
        <div class="txt">{{model.userInfo.gender == 0 ? '未设置' : model.userInfo.gender == 1 ? '男' : '女'}}<i class="icon-right-arrow"></i></div>
      </div>
      <div class="cell" ui-sref="tab.updatePhone">
        <div class="tit">手机号码</div>
        <div class="txt">{{model.userInfo.phone}}<i class="icon-right-arrow"></i></div>
      </div>
      <div class="cell" ui-sref="tab.updatePwd">
        <div class="tit">密码</div>
        <div class="txt">修改密码<i class="icon-right-arrow"></i></div>
      </div>
    </div>
  
    <div class="main-title">主要联系人</div>
    <div class="cell-list"><span class="cell-item" ui-sref="tab.updateLinkman({type: 1, link: attr.view_link})" ng-repeat="attr in model.main_retinueInfo.list">{{attr.name}}</span><span ng-if="!model.main_retinueInfo.list.length" class="cell-item add" ui-sref="tab.updateLinkman({type: 0, link: model.main_retinueInfo.create_link})">添加</span></div>

    <div class="main-title">随行人员</div>
    <div class="cell-list">
      <div class="wrap"><span class="cell-item" ui-sref="tab.updateLinkman({type: 3, link: attr.view_link})" ng-repeat="attr in model.retinueInfo.list">{{attr.name}}</span><span class="cell-item add" ui-sref="tab.updateLinkman({type: 2, link: model.retinueInfo.create_link})">添加</span></div>
    </div>
  </ion-content>
</ion-view>
