<ion-view hide-tabs>
  <navbar title="设置密码" back></navbar>

  <ion-content over-scroll="false">

    <div class="form">
      <div class="cell input"><input readonly ng-model="model.phone" type="text" placeholder="手机号"></div>
      <div class="cell input"><input ng-model="model.code" type="text" placeholder="输入验证码"><div class="codeBtn" ng-class="{'gray':disable}" ng-click="getCode()">{{txt}}</div></div>
      <div class="cell input"><input ng-model="model.pwd" type="password" placeholder="请输入密码"></div>
      <div class="cell input"><input type="password" ng-model="model.comfirmPwd" placeholder="确认新密码"></div>
    </div>
   
    <div class="f_button"><button class="submit" ng-click="submit()">确认</button></div> 
  

  </ion-content>
</ion-view>
