<div id="pagetwo">
<header class="t_bar">
    <h1>{{point.name}}</h1>
    <a class="iconfont h_left h_20" href="javascript:history.back(-1);" ng-if="tuiJianDetailReturn == 0">&#xe61f;</a>
    <a class="iconfont h_left h_20" href="javascript:history.go(-3);" ng-if="tuiJianDetailReturn == 1">&#xe61f;</a> <!--从登录界面过来的直接跳回推荐 -->
</header>

<div class="content">

    <div class="banner">
        <div>
          <img ng-src="{{point.page_img}}" alt="">
        </div>
        <div class="tmm-mask">
            <div class="tmm-praise tmm-praise-pos">
                <div ng-click="dianZhanOrNot()"><img ng-src="{{ dianZhan.dianZhanValue == 1 ? 'images/png/parise-red.png' : 'images/noPraise.png' }}" class="tmm-praise-img"/></div>
                <span class="tmm-praise-tit">{{dot_praise}}</span>
            </div>
            <div class="tmm-praise tmm-praise-pos">
                <div  ng-click="goCall()"><img src="images/phone.png"  class="tmm-praise-img"/></div>
                <span class="tmm-praise-tit">联系</span>
            </div>
            <!-- <div class="tmm-praise">
                <div><img src="images/phone.png"  class="tmm-praise-img"/></div>
                <span class="tmm-praise-tit">分享</span>
            </div> -->
        </div>
    </div>

    <!--新添加内容-->
      <div class="tmm-dot-bottom-bg">
        <div class="list-block tmm-dot-info-list-block">
          <ul>
            <li class="item-content item-link show-act-enroll-info"  >
              <div class="item-inner tmm-dot-item-inner b-border">
                <div class="item-title tmm-dot-item-title">
             
                  <div class="tmm-item-dot-list">
                    <div class="tmm-item-dot-list-title">
                      {{point.name}}
                  
                      <span class="tmm-item-dot-sold">已售出{{point.down}}份</span>
                
                    </div>
                    <div class="tmm-item-dot-list-price">
                        ￥{{point.price}}/人起   
                    </div>
                    <div class="tmm-item-dot-list-intro">
                      {{point.page_info}}
                    </div>
                    <div class="tmm-item-more">
                        <span class="tmm-item-dot-sold-more">
                          <a ng-href="#/mybookinfo/{{bookInfoId}}/dot" style="color:#ff595f">
                            <img src="images/more.png" />预订须知
                          </a>
                        </span>
                    </div>
                  </div>
               
                </div>
              </div>
            </li>
            <a ng-href="#/dotexterior/{{bookInfoId}}">
                <li class="item-content item-link" ng-if="point.exterior_link_num > 0">          
                  <div class="item-inner tmm-dot-specialty-item">
                    <div class="tmm-item-dot-list-specialty">
                      <div class="tmm-item-dot-list-specialty-pic"><img src="images/specialty.png" /></div>
                      <div class="tmm-item-dot-list-specialty-info">
                        <div class="item-title tmm-item-dot-list-specialty-info-title">{{point.exterior_link_num}}种相关特产</div>
                        <div class="item-title tmm-item-dot-list-specialty-info-li">
                          <span ng-repeat="exterior in point.exterior_link_arr">{{exterior.item_name}}</span> 
                        </div>
                        <div class="item-after sett-canter-font"></div>
                      </div>

                    </div>
                    <div class="icon-arrow"></div>   
                  </div>
                </li>
            </a>
          </ul>
        </div>
      </div>

      <div class="wrap-item tmm-item-dot-list-title tmm-retinue-top-border tmm-retinue-bottom-border">该景区项目</div>
      <!--新添加内容-->

    <div class="wrap">
        
        <section ng-repeat="attr in point.list" class="info {{$last ? 'no_b_border' : ''}}" ng-if="attr.item_type.value != -1">
            <!-- <img ng-src="{{ attr.item_type.value == 1 ? 'images/png/eat@2x.png' : (attr.item_type.value == 2 ? 'images/png/live@2x.png' : 'images/png/play@2x.png') }}" class="tmm-line-repeat-img"> -->
            <div ng-class="attr.item_type.value == 1 ? 'icon-eat' : (attr.item_type.value == 2 ? 'icon-live' : 'icon-play') " class="imgPos"></div>
            <div class="xincheng_title">{{attr.item_name}}</div>
            <div class="tmm-line-address"  ng-click="showMore(attr.item_link,attr.item_type.value,attr.item_id )">{{attr.item_info}}</div>
            
            <a class="showmore" ng-click="showMore(attr.item_link,attr.item_type.value,attr.item_id )"><span>●</span><span>●</span><span>●</span></a>

            <a ng-click="showMore(attr.item_link,attr.item_type.value,attr.item_id )" class="img">
                <img ng-src="{{attr.item_img}}">
            </a>
        </section>

    </div>

</div>
    
<div class="f_bar">
    <a ng-click="loadApp()" class="tuijian_goto" style="font-size: 14px; background-color: #13b0cc;" >点击下载App</a>
</div>

<div class="modal-mask tmm-modal-mask" style="display:none">
  <div class="modal tmm-modal">
    <div class="tit tmm-tit"></div>
    <div class="confirm"><span ng-click="modalOK()">确认</span></div>
  </div>
  <i></i>
</div>

</div>