<div id="pagetwo" name="pagetwoAct">
<header class="t_bar">
    <h1>{{act.name}}</h1>
    <a class="iconfont h_left h_20" href="javascript:history.back(-1);" ng-if="tuiJianDetailReturn == 0">&#xe61f;</a>
    <a class="iconfont h_left h_20" href="javascript:history.go(-3);" ng-if="tuiJianDetailReturn == 1">&#xe61f;</a> <!--从登录界面过来的直接跳回推荐 -->
</header>
    
<div class="content pageact">

    <div class="banner">
        <div>
            <img ng-src="{{act.page_img}}">
        </div>
        <div class="tmm-mask">
            <div class="tmm-praise tmm-praise-pos">
                <div ng-click="dianZhanOrNot()"><img ng-src="{{ dianZhan.dianZhanValue == 1 ? 'images/png/parise-red.png' : 'images/noPraise.png' }}" class="tmm-praise-img"/></div>
                <span class="tmm-praise-tit">{{act_praise}}</span>
            </div>
            <div class="tmm-praise tmm-praise-pos">
                <div  ng-click="goCall()"><img src="images/phone.png"  class="tmm-praise-img"/></div>
                <span class="tmm-praise-tit">联系</span>
            </div>
            <!-- <div class="tmm-praise tmm-praise-pos tmm-praise-pos-praise">
                <div ng-click="dianZhanOrNot()" ng-class="dianZhan.dianZhanValue == 1 ? 'icon-parise-red' : 'icon-praise-big'"></div>
                <span class="tmm-praise-tit">{{act_praise}}</span>
            </div>
            <div class="tmm-praise tmm-praise-pos tmm-praise-pos-call">
                <div  ng-click="goCall()" class="icon-phone-big"></div>
                <span class="tmm-praise-tit">联系</span>
            </div> -->
            <!-- <div class="tmm-praise">
                <div><img src="images/phone.png"  class="tmm-praise-img"/></div>
                <span class="tmm-praise-tit">分享</span>
            </div> -->
        </div>
    </div>

    <div class="act-info">
        <div class="row no-gutter tmm-con-icon">
          <div class="col-50 border-right">
            <div>
            <p class="title">参与人数</p>
            <p class="txt">{{act.actives_info.order_number.sign}} / {{act.actives_info.number.value}}</p>
            </div>
          </div>
          <div class="col-50">
            <div>
            <p class="title">活动状态</p>
            <p class="txt">{{act.actives_status.name}}</p>
            </div>
          </div>
          <div class="item-line"></div>
          <div class="col-50 border-right">
            <div>
            <p class="title">报名时间</p>
            <p class="txt">{{act.actives_time.start_time}} / {{act.actives_time.end_time}}</p>
            </div>
          </div>
          <div class="col-50">
            <div>
            <p class="title">出游日期</p>
            <p class="txt">{{act.actives_time.go_time}}</p>
            </div>
          </div>
          <div class="item-line"></div>
          <div class="col-100 tmm_act_col_100">
            <p class="title">活动简介</p>
            <div class="tmm-item-content-height tmm-accordion-item-content">
              
            </div>
            <div class="tmm-item-toggle" ng-click="showExpand()"><img src="images/png/expand.png"></div>
          </div>
          <div class="item-line"></div>
        </div>
    </div>

    <div class="wrap">
    <section ng-repeat="attr in act.list" class="info noborder">
        <div class="richeng" style="color: #565a5c"><i class="bracket">&lceil;</i>{{attr.day_content}}<i class="bracket">&rfloor;</i></div>
        <div class="xincheng">
            <div class="bg">
                <div class="bg_o tmm_bg_o_act"></div>
                <div class="bg_l tmm_bg_l_act"></div>
            </div>
            <div class="day"><span class="tmm_bg_l_act">{{attr.day}}</span></div>
        </div>
        <span class="tmm-ticon-point tmm-ticon-point-act">&nbsp;</span>
        <div ng-repeat="attr2 in attr.dot_list">
            <!-- <img ng-repeat-start="attr3 in attr2.day_item" ng-src="{{ attr3.item_type.value == 1 ? 'images/png/eat@2x.png' : (attr3.item_type.value == 2 ? 'images/png/live@2x.png' : 'images/png/play@2x.png') }}" class="tmm-line-repeat-img"> -->
            <div ng-repeat-start="attr3 in attr2.day_item" ng-class="attr3.item_type.value == 1 ? 'icon-eat' : (attr3.item_type.value == 2 ? 'icon-live' : 'icon-play') " class="imgPos"></div>
            <div class="xincheng_title">{{attr3.item_name}}</div>
            <div class="tmm-line-address" ng-click="showMore(attr3.item_link,attr3.item_type.value,attr3.value)">{{attr3.address}}</div>
            <a class="showmore" ng-click="showMore(attr3.item_link,attr3.item_type.value,attr3.value)"><span>●</span><span>●</span><span>●</span></a>
            <a ng-repeat-end ng-click="showMore(attr3.item_link,attr3.item_type.value,attr3.value)" class="img">
                <img ng-src="{{attr3.item_img}}">
            </a>
        </div>
    </section>
    </div>
</div>


<div class="f_bar">
    <a ng-click="loadApp()" class="tuijian_goto tmm_bg_l_act" style="font-size: 14px;" >点击下载App</a>
</div>

<div class="modal-mask tmm-modal-mask" style="display:none">
  <div class="modal tmm-modal">
    <div class="tit tmm-tit"></div>
    <div class="confirm"><span ng-click="modalOK()">确认</span></div>
  </div>
  <i></i>
</div>

</div>