<div id="zengjiahuodong">
    <header class="t_bar">
        <h1>增加活动设置<a href="javascript:history.back(-1);" class="iconfont h_left h_20">&#xe61f;</a></h1>
    </header>

    <div class="content">
        <form name="signup_form" novalidate ng-submit="signupForm()">
            <div class="zengjia tb_border"> 
                <p class="p_list b_border"><span class="side_tit">结伴游名称</span>
                    <input name="zengjia_name" ng-model="form.name" required id="zengjia_name" class="zengjia_txt" type="text">

                </p>
                <p class="p_list b_border"><span class="side_tit">活动截止报名时间</span>
                    <input name="zengjia_time" ng-model="form.end_time" required id="zengjia_time" class="zengjia_time" type="datetime-local"/>
                   
                </p>
                <p class="p_list b_border"><span class="side_tit">服务费</span>
                    <input name="zengjia_price" ng-model="form.price" required id="zengjia_price" class="zengjia_price" type="number">  
                    
                    <span class="side_txt">元/人</span>
                     
                </p>
                <p class="p_list"><span class="side_tit">自愿购买保险</span>
     
                    <i ng-click="form.ischeck=!form.ischeck" ng-class="form.ischeck ? 'iconfont h_right h_20 checked' : 'iconfont h_right h_20'">&#xe630;</i>
                    <input ng-model="form.ischeck" type="checkbox" style="display: none;">
                    
                </p>
            </div>
        
            <div class="beizhu tb_border">
                <p class="beizhu_tit">备注</p>
                <p class="beizhu_txt"><textarea name="zengjia_remark" required ng-model="form.remark" name="beizhu"></textarea></p>
                
            </div>
      

            <div class="bg_btn">
                <button class="sub_btn" type="submit">提交申请活动</button>
            </div>
        </form>
    </div>
