<ion-nav-view></ion-nav-view>
<div class="tabs tabs-icon-top tmm-recommend-tabs {{$root.hideTabs}}">
  <a class="tab-item" ui-sref-active="active" ui-sref="tab.index" nav-transition="none">
    <i class="icon" ng-class="{true: 'icon-index-click', false : 'icon-index'}[active === 'tab.index']"></i> 首页
  </a>
<!--   <a class="tab-item" ui-sref-active="active" ui-sref="tab.recommend" nav-transition="none">
    <i class="icon" ng-class="{true: 'icon-recommend-click', false : 'icon-recommend'}[active === 'tab.recommend']"></i> 觅趣
  </a> -->
  <a class="tab-item" ui-sref-active="active" ui-sref="tab.fresh" nav-transition="none">
    <i class="icon" ng-class="{true: 'icon-fresh-click', false : 'icon-fresh'}[active === 'tab.fresh']"></i> 觅鲜
  </a>
  <a class="tab-item" ui-sref-active="active" ui-sref="tab.seek" nav-transition="none">
    <i class="icon" ng-class="{true: 'icon-seek-click', false : 'icon-seek'}[active === 'tab.seek']"></i> 觅境
  </a>
  <a class="tab-item" ui-sref-active="active" ui-sref="tab.my" nav-transition="none">
    <i class="icon" ng-class="{true: 'icon-my-click', false : 'icon-my'}[active === 'tab.my']"></i> 我的
  </a>
</div>
