<!-- 设置支付密码 -->
<ion-view cache-view="false" hide-tabs="true">
  <navbar back title="设置支付密码"></navbar>
  
  <ion-content class="tmm-payment-setpwd" scroll="false" id="tmm-payment-setpwd">
    <div class="payment-content">
      <div class="passwd-msg" id="passwd-msg">请输入支付密码</div>
      <div class="passwd-wrap">
        <div class="passwd-item"></div>
        <div class="passwd-item"></div>
        <div class="passwd-item"></div>
        <div class="passwd-item"></div>
        <div class="passwd-item"></div>
        <div class="passwd-item"></div>
      </div>

      <span class="passwd-button btnColor" style="display:none" id="passwd-button-show" ng-click="confirmPasswd()">确认</span>
      <span class="passwd-button" style="display:none" id="passwd-button-hide" >确认</span>
    </div>
  </ion-content>
</ion-view>



