<ion-view hide-tabs="true">
  <navbar title="提交订单" back></navbar>

  <ion-content class="tmm-my-order-detail" overflow-scroll="false">
    <div class="main-title">出游日期</div>
    <div class="main-con" ng-click="selectDate()" ng-if="gotime_value == 0">{{gotime}}</div>
     <div class="main-con" ng-if="gotime_value == 1">{{gotime}}</div>

    <!-- 吃住玩列表 -->
    <div class="main-title">项目列表</div>

    <div class="order-wrap" ng-class="$first?'topBottom':''">
      <div class="day" ng-repeat-start="(key,value) in model.items_fare" ng-if="key%2">{{key | formatDay}}</div>
      <div ng-repeat-end ng-repeat="list in value">
        <div class="det-list" ng-repeat="(key2, attr) in list">
          <div class="title">
            <i class="titicon" ng-class="{'icon-order-eat': attr.classliy.value==1, 'icon-order-live':attr.classliy.value==2, 'icon-order-play':attr.classliy.value==3}"></i>{{attr.name}}
          </div>
          <div ng-repeat="attr1 in attr.fare">
            <div class="detail line">
              <span>{{attr1.name}}</span>
              <span>{{attr.classliy.value==2?(attr1.room_number | room):attr1.info}}</span>
              <span>{{attr1.number}}</span>
              <span>￥{{attr1.price}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 吃住玩列表结束 -->

    <div class="main-title">主要联系人</div>
    <div class="main-retiune" ng-click="setMainName()">
      {{model.actives_info.attend.main.name}}
      <span class="right-arrow"><i class="icon-right-arrow"></i></span>
    </div>

    <div class="main-title">出行人员信息</div>
    <div class="main-retiune" ui-sref="tab.participant({link:model.actives_info.attend_list})" >
      成人{{model.actives_info.attend.people}}，儿童{{model.actives_info.attend.children}}
      <span class="right-arrow"><i class="icon-right-arrow"></i></span>
    </div>
    
    <div ng-if="userInfo.is_organizer == 1 && model.userInfo.organizer_status != 0">
      <div class="main-title">服务费（交通、导服及其他）</div>
      <div class="main-con">{{model.actives_info.tour_price.value}}元/人</div>
    </div>
    <div class="main-title"></div>
    <div class="main-title"></div>
  </ion-content>

  <div class="order-btn">
    <span class="price">￥{{total_price}}</span>
    <span class="btn red" ng-click="actOrderPay()">确认支付</span>  
  </div>

</ion-view>
