/**
 * 二级导航
 */
.tmm-seek-subbar {
  top: 102%;
  height: 40px;
}
.tmm-seek-subbar .buttons-row .button {
  font-size: 13px;
  line-height: 40px;
  color: #313131;
  height: 40px;
  border: none;
  border-radius: 0px;
}
.tmm-seek-subbar .buttons-row .button.active {
  border-bottom: 2px solid #ff595f;
  background-color: transparent;
}
.tmm-seek-subbar .buttons-row .button:before {
  display: none;
}
.tmm-seek-subbar .tmm-sublist {
  display: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 8px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  font-size: 13px;
  overflow: auto;
}
.tmm-seek-subbar .tmm-sublist .item {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 33.3%;
  float: left;
  padding: 0px;
}
.tmm-seek-subbar .tmm-sublist .item a {
  display: block;
  margin: 8px;
  border-radius: 4px;
  color: #858b8f;
  text-align: center;
  border: 1px solid #d7d9d7;
  line-height: 30px;
}
.tmm-seek-subbar .tmm-sublist .item a.active {
  color: #fff;
  background-color: #61cc13;
  border-color: transparent;
}
.tmm-seek-page-contnet {
  padding-top: 84px !important;
}
/*动画加载时没有更多数据*/
#no-more {
  height: 30px;
  width: 100%;
  text-align: center;
  background: #F0F1F2;
  color: #313131;
  font-size: 14px;
  padding: 10px 0;
}
.bg-mask-seek {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.tmm-seek-selected{
	background-color:#5fb336;
	color:#fff !important;
	border:1px solid transparent !important;
}
