// color
$headerColor   : #403a39 !default;
$selectedColor : #ff595f !default;
$gray          : #403a39 !default;
$lightGray     : #808080 !default;
$lighterGray   : #edf2f0 !default;
$red           : #ff595f !default;


// width
$commonWidth   : 1080px !default; 

// height
$headerHeight  : 60px !default;   
$bannerHeight  : 440px !default;  
$footHeight    : 80px !default;   


// font 
$bigTitFont    : 30px !default;   
$norTitFont    : 20px !default;   
$smaTitFont    : 16px !default;   
$bigTxtFont    : 16px !default;   
$norTxtFont    : 16px !default;   
$smaTxtFont    : 14px !default;   