<ion-view hide-tabs="true">
  <navbar back>
    <div class="title act-title">
      <span class="title-type">
            <span ng-click="showTab(1)" ng-class="{'active':isActive == 1}">觅境</span>
      <span ng-click="showTab(2)" ng-class="{'active':isActive == 2}">觅趣</span>
      </span>
    </div>
  </navbar>
  <ion-content class="tmm-my-order" overflow-scroll="false">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()" spinner="ios">
    </ion-refresher>
    <div class="tmm-order-list">
      <order-item ng-repeat="item in model.list_data"></order-item>
    </div>
    <ion-infinite-scroll on-infinite="loadMore()" ng-if="model.nextPage" distance="1%" spinner="ios">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
