<ion-view animation="no-animation" bar-class="index-nav">
  <ion-content class="index no-top">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()" spinner="ios">
    </ion-refresher>
    <slider class="banner" spacetime="3000">
      <slider-item ng-click="goBannerDetail(item.link_type.value, item.link, item.name, item.img)" ng-repeat="item in model.banner" img-src="item.img" last="$last" first="$first"></slider-item>
    </slider>
    <div class="hotsell hotsellpos">
      <div class="title">
        <div class="tit">精挑细选<span class="disc">为你寻觅大自然里的好味道</span></div> <span ui-sref="tab.fresh-subject" class="more" ng-if="model.hotsell.length > 4 ">更多</span></div>
      <div class="fresh-img" ng-style="freshStyle">
        <draw-small-img ng-repeat="item in model.hotsell| limitTo:4" src="{{item.img}}" ui-sref="tab.fresh-list({link: item.link, name: item.name})" index="{{$index}}"></draw-small-img>
      </div>
    </div>
    <div class="hotact" ng-if="model.hotact.length">
      <div class="title">
        <div class="tit">拒绝平凡<span class="disc">给你专属的深度趣味体验</span></div> <span ui-sref="tab.interest-subject" class="more" ng-if="model.hotact.length > 1">更多</span></div>
      <div ui-sref="tab.interest-list({link:item.link, name: item.name})" ng-repeat="item in model.hotact | limitTo:1" class="box-img">
        <img class="img" ng-style="seekStyle" ng-src="{{item.img}}">
        <div class="intro">
          <div class="tit">{{item.name}}</div>
          <div class="txt">{{item.info}}</div>
        </div>
      </div>
    </div>
    <div class="circumtour">
      <div class="title">
        <div class="tit">远离城市<span class="disc">还你最原始纯净的蓝天</span></div>
      </div>
      <div ui-sref="tab.seek-list({link:item.link, name: item.name})" ng-repeat="item in model.circumtour" class="box-img">
        <img class="img" ng-style="seekStyle" ng-src="{{item.img}}">
        <div class="intro">
          <div class="tit">{{item.name}}</div>
          <div class="txt">{{item.count +'个热门旅行线路推荐'}}
            <span ng-if="item.distance">&nbsp;&nbsp;{{'距离' + item.distance}}</span></div>
        </div>
      </div>
    </div>
    <ion-infinite-scroll on-infinite="loadMore()" ng-if="model.nextPage" distance="1%" spinner="ios">
    </ion-infinite-scroll>
    <div class="tabbar-empty"></div>
  </ion-content>
  <em ui-sref="tab.search" class="index-search icon-r-search"></em>
</ion-view>
