.item-edit-content {

  background-color: #fff;
  padding: 14px;

  img {
    width: 100% !important;
    height: auto !important;
  }
}

.item-intro {
  width: 90%;
  left: 5% !important;
  top: 50px !important;
  margin-top: 0 !important;
  height: 80%;
  margin-top: 0;
  overflow: hidden;
  border-radius: 5px !important;
  .popover-arrow {
    display: none;
  }

  .scroll-content {
    margin: 0 !important;
    padding: 0 !important;
  }

  .item-banner {
    width: 100%;
    position: relative;
    overflow: hidden;
    .img-wrap {
      height: 100%;
      width: 100%;
      white-space: nowrap;
      font-size: 0;
      // overflow: hidden
    }
    img {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  .cell {
    &.fee-cell, &.servie {
      padding-right: 0;
    }
    display: flex;
    justify-content: space-between;
    height: auto;

    .tit {
      width: 85px;
    }
    .intro {
      display: flex;
      flex: 1;
      align-items: center;
      width: 0;
      line-height: 20px;
      color: #666;
    }
    .intro-location {
      display: inline-block;
      line-height: 20px;
      color: #666;
      padding:10px 0 10px 0px;
      flex: 1;

      .location {
        margin-top: 10px;
        &>img {
          width: 15px;
          height: 15px;
          margin-right: 7px;
          vertical-align: middle;
        }
        &>span {
          font-size: 14px;
          color: #007aff;
          vertical-align: middle;
          display: inline-block;
        }
      }
    }
    .fee {
      display: block;
      padding-top: 15px;
      padding-bottom: 5px;
      .fee-item {
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 10px;
        border: 1px solid #666;
        padding: 5px 10px;
      }
        
    }
    .icon-detailPhone {
      margin-right: 10px;
    }
    .servie-intro {
      flex-flow: wrap;
      padding: 15px 0 10px;
      span {
        font-size: 12px;
        line-height: 12px;
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid #ccc;
        margin: 0 10px 5px 0;
        border-radius: 2px;
      }
    }
  }
}