<ion-view view-title="钱包" hide-tabs bar-class="wallet-nav">
  <ion-nav-buttons>
    <i class="tmm-ion-left icon icon-arrow-back" ui-sref="tab.my"></i>
  </ion-nav-buttons>
  <ion-content class="tmm-my-wallet" scroll="false">
    <div class="wallet-content">
      <div class="content-balance">{{json.money_format}}</div>
      <div class="balance-up">余额(元)</div>
    </div>

    <div class="wallet-list" ng-click="BankCardHasOrNot()">
      <img src="images/tx.png" class="wallet-img">提现
    </div>

    <div class="wallet-list wallet-top" ng-click="BankCardManageLink()">
      <img src="images/yhkgl.png" class="wallet-img">银行卡管理
      <i class="icon con-right icon-arrow-right"></i>
    </div>
    <div class="wallet-list" ui-sref="tab.tradeRecord">
      <img src="images/jyjl.png" class="wallet-img">交易记录
      <i class="icon con-right icon-arrow-right"></i>
    </div>
  </ion-content>
</ion-view>
