<div>
  <img ng-src="{{model.page_img}}">
  <div class="tool-mask">

    <div ng-click="doPraise()">
      <em ng-class="model.collent_status == 0 ? 'icon-parise' : 'icon-parise-red'"></em>
      <span class="praise-tit">{{ model.praise }}</span>
    </div>
    <div ng-click="doCall()">
      <em class="icon-phone-big"></em>
      <span  class="praise-tit">联系</span>
    </div>
    <div ng-if="!isWeixin">
      <em ng-click="doShare()" class="icon-share-big"></em>
      <span  class="praise-tit">分享</span>
    </div>

  </div>
</div>