<ion-view view-title="觅境">
  <navbar>
    <div class="title">
      <div class="seekTitle" ui-sref="tab.destination">
        <div class="tit">{{address}}</div>
        <div class="txt">目的地</div>
      </div>
    </div>
    <div class="right">
      <i class="icon-search" ui-sref="tab.search"></i>
    </div>
  </navbar>
  <div class="sub-nav">
    <div ng-repeat="attr in model.search" ng-click="selectTit(attr, $index)" ng-class="{'active': $index === selectTitle}" class="subtit">{{attr.name}}</div>
  </div>
  <ion-content delegate-handle="seek-content" class="seek-content" overflow-scroll="false">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()" spinner="ios">
    </ion-refresher>
    
      <div ng-if="noData" class="noDataMsg">没有数据哦！</div>
      <recommend-item ng-repeat="item in model.list_data"></recommend-item>
    
    <ion-infinite-scroll on-infinite="loadMore()" ng-if="model.nextPage" distance="1%" spinner="ios">
    </ion-infinite-scroll>
    <div class="tabbar-empty"></div>
  </ion-content>
  <div class="seekmask" ng-if="isShowTag" id="seekmask" ng-class="{'seekTop':seekIos}">
    <div class="tagPos">
      <div class="tagWrap">
        <div ng-repeat="attr in model.tags" class="tag"><span ng-class="{'active': attr.value == selectValue}" ng-click="selectTag(attr.link, attr.value)">{{attr.name}}</span></div>
      </div>
    </div>
    <div class="closetag" ng-click="closeTag()"></div>
  </div>
</ion-view>
