
.bar-search {
  background-color: transparent;
}

.item-input-wrapper {
  height: 30px;
  margin: 7px 44px;
  padding: 0;
  input {
    flex: 1;
  }
}

.search-text {
  display: block;
  width: 30px;
  height: 30px;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%221024px%22%20height%3D%221024px%22%20viewBox%3D%220%200%201024%201024%22%20enable-background%3D%22new%200%200%201024%201024%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpath%20class%3D%22svgpath%22%20data-index%3D%22path_0%22%20fill%3D%22%23999%22%20d%3D%22M1012.755341%20958.452019l-288.022-288.022c58.904864-70.987913%2094.462819-161.943576%2094.462819-260.83514%200-225.277184-184.317696-409.59488-409.59488-409.59488s-409.59488%20184.317696-409.59488%20409.59488%20184.317696%20409.59488%20409.59488%20409.59488c98.891564%200%20189.847227-35.557956%20260.83514-94.462819l288.022%20288.022c15.001412%2015.001412%2039.295509%2015.001412%2054.296921%200C1027.731153%20997.747528%201027.731153%20973.427832%201012.755341%20958.452019zM76.80544%20409.59488c0-183.498506%20149.297334-332.79584%20332.79584-332.79584s332.79584%20149.297334%20332.79584%20332.79584-149.297334%20332.79584-332.79584%20332.79584S76.80544%20593.093386%2076.80544%20409.59488z%22%20%2F%3E%0A%0A%3C%2Fsvg%3E") no-repeat center center;
  background-size: 14px 14px;
}

.search-clear {
  display: block;
  width: 14px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2028'%3E%3Ccircle%20cx%3D'14'%20cy%3D'14'%20r%3D'14'%20fill%3D'%238e8e93'%2F%3E%3Cline%20stroke%3D'%23ffffff'%20stroke-width%3D'2'%20stroke-miterlimit%3D'10'%20x1%3D'8'%20y1%3D'8'%20x2%3D'20'%20y2%3D'20'%2F%3E%3Cline%20fill%3D'none'%20stroke%3D'%23ffffff'%20stroke-width%3D'2'%20stroke-miterlimit%3D'10'%20x1%3D'20'%20y1%3D'8'%20x2%3D'8'%20y2%3D'20'%2F%3E%3C%2Fsvg%3E");
  background-size: 14px 14px;
  margin-right: 8px;
}

.search-bar {
  .title-center {
    left: 40px !important;
    right: 14px !important;
  }
}

.search {
  .title {
    font-size: 13px;
    color: $gray;
  }
  .group {
    padding-left: 14px;
    background-color: #fff;
    .cell {
      padding-left: 0;
    }
  }
  .cancelHistory {
    line-height: 44px;
    text-align: center;
    background-color: #fff;
    color: $red;
    font-size: 13px;
  }
  .cancelHistory-border {
    @extend %border-top-bottom;
  }
}
