.tmm-act-right {
  color: #727372;
  font-size: 14px; }

.tmm-activity-card-list {
  position: relative; }

.tmm-my-act-card {
  background-size: 0;
  margin: 16px 0;
  background: #fff;
  position: relative;
  border-radius: 2px;
  font-size: 14px; }
  @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .tmm-my-act-card {
      border: none;
      background-repeat: no-repeat;
      background-image: linear-gradient(180deg, #d7d9d7, #d7d9d7 50%, transparent 50%), linear-gradient(0deg, #d7d9d7, #d7d9d7 50%, transparent 50%);
      background-position: top, bottom;
      background-size: 100% 1px, 100% 1px; } }
  .tmm-my-act-card .card-content {
    position: relative;
    height: 106px;
    padding-bottom: 6px;
    overflow: hidden;
    top: 16px; }
    .tmm-my-act-card .card-content .act-img {
      width: 75px;
      height: 75px;
      position: absolute; }
      .tmm-my-act-card .card-content .act-img img {
        width: 100%;
        height: 100%;
        border-radius: 5px; }
    .tmm-my-act-card .card-content .act-content {
      margin-left: 85px;
      line-height: 20px;
      color: #565a5c;
      font-size: 14px; }
      .tmm-my-act-card .card-content .act-content .con-title {
        line-height: 15px;
        font-size: 15px;
        font-weight: bold;
        color: #191a19;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      .tmm-my-act-card .card-content .act-content .con-info {
        margin-top: 8px; }
        .tmm-my-act-card .card-content .act-content .con-info .info-line {
          display: inline-flex; }
          .tmm-my-act-card .card-content .act-content .con-info .info-line .info-price {
            margin-right: 10px; }
        .tmm-my-act-card .card-content .act-content .con-info span {
          color: #727372;
          font-size: 13px;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        .tmm-my-act-card .card-content .act-content .con-info .act-cancel {
          color: #c0c2c0; }
        .tmm-my-act-card .card-content .act-content .con-info .act-end {
          color: #ff4c52; }
        .tmm-my-act-card .card-content .act-content .con-info .act-in {
          color: #5fb336; }
  .tmm-my-act-card .tmm-act-fail {
    background-color: #f0f1f2;
    padding: 10px 5px;
    border-radius: 5px;
    bottom: 11px;
    position: relative; }
    .tmm-my-act-card .tmm-act-fail .act-fail-title {
      font-size: 14px;
      color: #191a19;
      font-weight: bold; }
    .tmm-my-act-card .tmm-act-fail .act-fail-res {
      font-size: 13px;
      color: #727372;
      word-break: break-all; }
  .tmm-my-act-card .tmm-my-activity-btn {
    background-size: 0; }
    @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .tmm-my-act-card .tmm-my-activity-btn {
        border: none;
        background-repeat: no-repeat;
        background-image: linear-gradient(180deg, #d7d9d7, #d7d9d7 50%, transparent 50%);
        background-position: top;
        background-size: 100% 1px; } }
    .tmm-my-act-card .tmm-my-activity-btn .tmm-card-footer {
      width: 100%;
      padding: 10px 0;
      text-align: right;
      right: 16px;
      position: relative; }
      .tmm-my-act-card .tmm-my-activity-btn .tmm-card-footer a.button {
        display: inline-block;
        color: #727372;
        border: 1px solid #c0c2c0;
        min-width: 70px;
        margin-left: 7px;
        border-radius: 5px; }
      .tmm-my-act-card .tmm-my-activity-btn .tmm-card-footer .btn-act-cancel {
        color: #ff595f;
        border: 1px solid #ff595f; }
