/**
 * 二级导航
 */
.tmm-seek-subbar {
  top: 102%;
  height: 40px;
}
.tmm-seek-subbar .buttons-row .button {
  font-size: 13px;
  line-height: 40px;
  color: #313131;
  height: 40px;
  border: none;
  border-radius: 0px;
  text-overflow: clip;
}
.tmm-seek-subbar .buttons-row .button.active {
  background-color: transparent;
}
.tmm-seek-subbar .buttons-row .button:before {
  display: none;
}
.tmm-seek-subbar .buttons-row .button:after {
  content: "";
  margin-top: -10px;
  width: 100%;
  height: 2px;
  display: block;
  background: url(../images/button-sub-arrow.png) no-repeat center center;
  background-size: contain;
}
.tmm-seek-subbar .buttons-row .button.active:after {
  background: url(../images/button-sub-arrow-red.png) no-repeat center center;
  background-size: contain;
}
.tmm-seek-subbar .tmm-sublist {
  display: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 8px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  font-size: 13px;
  overflow: auto;
}
.tmm-seek-subbar .tmm-sublist .item {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 33.3%;
  float: left;
  padding: 0px;
}
.tmm-seek-subbar .tmm-sublist .item a {
  display: block;
  margin: 8px;
  border-radius: 4px;
  color: #858b8f;
  text-align: center;
  border: 1px solid #d7d9d7;
  line-height: 30px;
}
.tmm-seek-subbar .tmm-sublist .item a.active {
  color: #fff;
  background-color: #61cc13;
  border-color: transparent;
}
.tmm-seek-page-contnet {
  padding-top: 84px !important;
}
/*动画加载时没有更多数据*/
#no-more {
  height: 30px;
  width: 100%;
  text-align: center;
  background: #F0F1F2;
  color: #313131;
  font-size: 14px;
  padding: 10px 0;
}
.bg-mask-seek {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.75;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.tmm-seek-selected {
	background-color: #ff595f;
	color:#fff !important;
	border:1px solid transparent !important;
}

.tmm-seek-navbar .center {
  margin-left: 20px;
}
.tmm-seek-navbar .center .tit {
  font-size: 16px;
  line-height: 20px;
}
.tmm-seek-navbar .center .sub-txt {
  font-size: 10px;
  line-height: 10px;
  color: #999999;
}
.tmm-seek-navbar .center .arrow {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  background-image: url(../images/arrow-down.png);
  background-size: 100% 100%;
}
.tmm-select-distination-subbar {
  position: relative;
}
.tmm-select-distination-subbar:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: #000000;
  display: block;
  z-index: 15;
  opacity: 0.2;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.tmm-select-distination-subbar .subnavbar-center {
  padding: 0 16px;
  height: 28px;
  width: 100%;
  display: relative;
  box-sizing: border-box;
}
.tmm-select-distination-subbar .subnavbar-center .tmm-seek-searchbar-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0 24px;
  border: none;
  border-radius: 5px;
}
.tmm-select-distination-subbar .subnavbar-center .ticon-search {
  position: absolute;
  line-height: 28px;
  font-size: 14px;
  margin-left: 5px;
  color: #939398;
}
.tmm-select-distination-subbar .subnavbar-center .icon:after {
  display: none;
}

.select-distination .select-city {
  padding: 0 0 16px 16px;
}
.select-distination .select-city .my-place>span{
  display: inline-block;
  margin: 0 16px 10px 0;
  padding: 10px 16px 10px 28px;
  border-radius: 4px;
  border: 1px solid #d7d9d7;
  font-size: 13px;
  line-height: 13px;
  background: #fff url(../images/dingwei.png) no-repeat 8px center;
  background-size: 18px 18px;
}
.select-distination .select-city .hot-city>span {
  display: inline-block;
  margin: 0 16px 10px 0;
  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid #d7d9d7;
  font-size: 13px;
  line-height: 13px;
  background-color: #fff;
}
.select-distination .select-city h3 {
  font-weight: normal;
  font-size: 13px;
  color: #8f8585;
}
.select-distination .city-list {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.select-distination .city-list .city-list-tit{
  padding-left: 16px;
  line-height: 24px;
  font-size: 14px;
}
.select-distination .city-list .city-list-con {
  line-height: 45px;
  background-color: #fff;
  padding-left: 16px;
  border-top: 1px solid #d7d9d7;
  border-bottom: 1px solid #d7d9d7;
}
.select-distination .city-list .city-list-con>p:after {
  content: '';
  height: 1px;
  background-color: #d7d9d7;
  display: block;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.select-distination .city-list .city-list-con>p:last-child:after {
  display: none;
}
