body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.prizeMallingForm{
  background-color: #edf2ee;
}
.prizeMallingForm .addr {
  background-color: #fff;
  margin-top: 50px;
  border-top: 1px solid #ccc;
}
.prizeMallingForm .addr .row {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}
.prizeMallingForm .addr .row .tit {
  color: #000;
  width: 70px;
}

.prizeMallingForm .addr .row input, select, textarea {
  color: #999;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: 0;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 15px;
  margin-left: 15px;
  border: none;
}
.prizeMallingForm .addr .row select {
  padding-left: 5px;
}
.prizeMallingForm .addr .row .detialAddr {
  height: 50px;
  line-height: 25px;
  margin-top: 10px;
}

.prizeMallingForm .addr .rowarea {
  align-items:inherit;
  height: 66px;
}  
.prizeMallingForm .mailing-btn{
  margin: 0 auto;
  margin-top: 35px;
  display: block;
  width: 90%;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  background-color: #464646;
  color: #fff;
  text-align: center;
}