  <div id="myjoinact">
    <header class="t_bar">
      <h1>我参加的活动<a href="javascript:history.back(-1);"><i class="iconfont h_left h_20">&#xe61f;</i></a></h1>
      
    </header>
    
    <div class="content" when-scrolled="getPageInfo()">
      <div class="wrap"> 
        <div class="sec_info" ng-repeat="attr in infoList">
          <div class="sec_info_border">

              <div ng-click="goOrderDetail(attr.value,attr.status.centre_status.value)" class="sec_con">
                  <div class="info_pic">
                      <img ng-src="{{attr.shops_img}}">
                  </div>
                  <div class="info_txt">
                      <p class="info_title" style="line-height: 14px;">{{attr.shops_name}}</p>
                      <p class="info_con">状态：{{attr.actives_status.name}}</p>
                      <p class="info_con">
                          <span class="info_danjia">价格：{{attr.order_price}}元</span>
                      </p>
                  </div>
              </div>
          
              <div ng-if="attr.status.centre_status.value =='0'" class="conform">
                <span ng-click="removeOrder(attr.value)" class="span_btn">取消</span>
                <span ng-click="payOrder(attr.value)" class="span_btn">支付</span>
              </div>

              <div ng-if="attr.status.centre_status.value =='-1' && (attr.status.status_go.value=='0' || attr.status.status_go.value=='1')" class="conform">
                <span ng-click="removeOrder(attr.value)" ng-if="attr.status.status_go.value=='0' || attr.status.status_go.value=='1'" class="span_btn">取消报名</span>
                <span ng-click="confirmOrder(attr.value)" ng-if="attr.status.status_go.value=='1'" class="span_btn">确认出游</span>
              </div>

          </div>

          <span class="icon_triangle tip_chuli" ng-if="attr.status.order_status.value =='0'">{{attr.status.order_status.name}}</span>
          <span class="icon_triangle tip_dfukuan" ng-if="attr.status.order_status.value =='1'">{{attr.status.order_status.name}}</span>
          <span class="icon_triangle tip_yfukuan" ng-if="attr.status.order_status.value =='2'">{{attr.status.order_status.name}}</span>
          <span class="icon_triangle tip_yfukuan" ng-if="attr.status.order_status.value =='3'">{{attr.status.order_status.name}}</span>
          <span class="icon_triangle tip_gray" ng-if="attr.status.order_status.value =='-2'">{{attr.status.order_status.name}}</span>
          <span class="icon_triangle tip_gray" ng-if="attr.status.order_status.value =='-1'">{{attr.status.order_status.name}}</span>
          <span class="icon_triangle tip_gray" ng-if="attr.status.order_status.value =='-3'">{{attr.status.order_status.name}}</span>

<!--           
          <span class="icon_triangle tip_chuli" ng-if="attr.actives_status.value =='0'">{{attr.actives_status.name}}</span>
          <span class="icon_triangle tip_dfukuan" ng-if="attr.actives_status.value =='1'">{{attr.actives_status.name}}</span>
          <span class="icon_triangle tip_gray" ng-if="attr.actives_status.value =='2'">{{attr.actives_status.name}}</span>
          <span class="icon_triangle tip_gray" ng-if="attr.actives_status.value =='-1'">{{attr.actives_status.name}}</span> -->

        </div>
          
      </div>
      
    </div>

    <div ng-if="modal.isShow" class="modal-mask">
      <div class="modal">
        <div class="tit">{{modal.title}}</div>
        <div class="confirm"><span ng-click="modalOK(modal.type)">确认</span><span ng-if="modal.type=='removeOrder' || modal.type=='confirmOrder'" ng-click="modalCancel()">取消</span></div>
      </div>
      <i></i>
    </div>

  </div>