<div id="selectitem">
    <header class="t_bar">
        <h1>选择项目<i class="iconfont h_left h_20">&#xe61f;</i><a href="#/xuanzhedian"><span class="h_right h_txt">添加项目</span></a></h1>
    </header>

    <div class="content pt_45">
        <h2 class="h2_tit no_t_border">项目列表<span class="icon_day">第一天</span></h2>
        <section class="project list b_border">
            <div ng-repeat="attr in json" class="{{$last?'' : 'b_border'}}">
                <div class="list_title">{{attr.projectName}}</div>
                <div class="list_info">
                    <div ng-repeat="content in attr.projectContent">
                         <p><span class="w_50">{{content.name}}</span><span class="w_30">￥{{content.price}}</span><span class="w_20 r_txt"><i class="iconfont">&#xe63a;</i></span></p>
                        <div class="line"></div>
                    </div>  
                    <p class="addition"><i class="iconfont">&#xe639;</i></p>            
                </div>
            </div>	
        </section>

        <div class="create">
            已选择项目 <span class="select_num">9</span>
            <a class="createjby" href="#/zengjiahuodong">创建此结伴游</a>
        </div>
    </div>
    
</div>
