<div id="xuanzeluxian">
    <header class="t_bar">
        <h1>选择点<a href="javascript:history.back(-1);"><i class="iconfont h_left h_20">&#xe61f;</i></a></h1>
    <nav class="sub_bar_dian">
        <ul>
            <li><span>出发地</span></li>
            <li><span>目的地</span></li>
            <li class="active"><span>价格</span></li>
        </ul>
    </nav>
    </header>

    <div class="content">       

            <!--<a href="#/xuanzhediandetail_{{attr.porl}}/{{attr.id}}"  ng-repeat="attr in json">-->
            <a href="#/tuijiandetail_1/{{attr.id}}?detailAttr=1"  ng-repeat="attr in json">
                <div class="media_box">
                    <div class="media">
                        <div class="media_pic"><img ng-src="{{attr.imgUrl}}" alt="{{attr.imgAlt}}"></div>
                            <div class="media_txt">
                                <p class="media_tit">{{attr.title}}</p>
                                <p><span class="media_min_txt1">{{attr.price}}/人</span></p>
                            </div>
                        </div>
                    </div>
                </div>
             </a>

    </div>
</div>
