<!-- 活动详情 -->
<ion-view view-title="选择景点 " cache-view="false" hide-tabs>
  <ion-nav-buttons>
    <i class="tmm-ion-left ion-android-arrow-back" ui-sref="tab.launch-act-selline" nav-direction="back"></i>
  </ion-nav-buttons>
  
  <ion-content class="tmm-act-launch-content tmm-mast">
    <div class="tmm-act-content tmm-bottom">

	    <div class="tmm-media">
        <div class="tmm-media-box">
          <img src="" ng-src="" alt="半免费景点">
          <div class="tmm-media-detail">
            <div class="tmm-media-tit">半免费景点</div>
          </div>
        </div>
        <div class="tmm-media-txt">
          半免费景点半免费景点
          <div class="tmm-pol">电话咨询：0755-25445881</div>
        </div>
      </div>

	    
	    <!--列表选项-->   
      <div class="tmm-seldot-con-title">景区项目</div>
      <div class="b-border">
	    	<ion-list class="tmm-launch-act-list">
	        <ion-item>
	         	<div class="tmm-selline-item-tit">百侯古镇<i class="icon ticon-arrow-right"></i></div>
            <div class="tmm-selline-item-addr">福建省南平邵武市福建省南平市邵武县卡嘉农镇红肉火龙果</div>
	        </ion-item>
	        <ion-item class="tmm-launch-item-content">
	          <div class="tmm-seldot-item">
	            <div class="tmm-item-element">摘杨桃</div>
	            <div class="tmm-item-element">成人</div>
	            <div class="tmm-item-element">￥0.10</div>
              <div class="tmm-item-element"><input type="checkbox" ng-model="regText.chk"></div>
	          </div>
	        </ion-item>
	         <ion-item class="tmm-launch-item-content">
	          <div class="tmm-seldot-item">
	            <div class="tmm-item-element">摘杨桃</div>
	            <div class="tmm-item-element">成人</div>
	            <div class="tmm-item-element">￥0.10</div>
              <div class="tmm-item-element"><input type="checkbox" ng-model="regText.chk"></div>
	          </div>
	        </ion-item>
	      </ion-list>
      </div>
      <div class="b-border">
        <ion-list class="tmm-launch-act-list">
          <ion-item>
            <div class="tmm-selline-item-tit">百侯古镇<i class="icon ticon-arrow-right"></i></div>
            <div class="tmm-selline-item-addr">福建省南平邵武市福建省南平市邵武县卡嘉农镇红肉火龙果</div>
          </ion-item>
          <ion-item class="tmm-launch-item-content">
            <div class="tmm-seldot-item">
              <div class="tmm-item-element">摘杨桃</div>
              <div class="tmm-item-element">成人</div>
              <div class="tmm-item-element">￥0.10</div>
              <div class="tmm-item-element"><input type="checkbox" ng-model="regText.chk"></div>
            </div>
          </ion-item>
           <ion-item class="tmm-launch-item-content">
            <div class="tmm-seldot-item">
              <div class="tmm-item-element">摘杨桃</div>
              <div class="tmm-item-element">成人</div>
              <div class="tmm-item-element">￥0.10</div>
              <div class="tmm-item-element"><input type="checkbox" ng-model="regText.chk"></div>
            </div>
          </ion-item>
        </ion-list>
      </div>
	    <!--列表选项-->
    </div>
  </ion-content>
  <div class="tmm-go-item tmm-launch-act-btnColor" ui-sref="tab.launch-act-seldot-schedule">
    <a class="tmm-button" href="javascript:;">我已选好项目</a>
  </div>
</ion-view>