<!-- 我发起的活动 -->
<ion-view view-title="交易记录" cache-view="false" hide-tabs="true">
  <ion-nav-buttons>
    <i class="tmm-ion-left tmm-withdraw-left ion-android-arrow-back" ui-sref="tab.mywallet" nav-direction="back"></i>
  </ion-nav-buttons>
  
  <ion-content class="tmm-my-traderecord-content tmm-my-wallet" delegate-handle="ptr-content">
    <ion-refresher pulling-text="{{tradeModel.pullingText}}" on-pulling="doPulling()" on-refresh="doRefresh()">
    </ion-refresher>
  	<ion-list class="tmm-record-list">
      <ion-item ng-repeat="record in list_data">
        <div class="tmm-record-item">
          <div>
            <b>{{record.name}}</b>
            <p class="tmm-record-time">{{record.add_time}}</p>
          </div>
          <div class="tmm-record-money">
            {{record.use_money}}
            <p class="tmm-record-time">余额：{{record.money}}元</p>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <div class="tmm-record-conNo" ng-if="listNum == 0">你暂时还没有交易记录哦！</div>
    <ion-infinite-scroll distance="0.1%" ng-if="hasMoreData()" on-infinite="loadMore()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>


