<div>
  <div class="navbar">
    <div></div>
    <div class="title">田觅觅</div>
    <div></div>
  </div>
  <p style="margin-top: 50px;text-align: center;font-size: 18px;">获取数据失败</p>
    
  <a style="display: block;text-align: center;margin-top: 30px;color: rgb(85, 26, 139);" target="_blank" href="http://wx.365tmm.com/"> 田觅觅微信首页</a>
  <a style="display: block;text-align: center;margin-top: 30px;color: rgb(85, 26, 139);" target="_blank" href="http://www.365tmm.com/"> 田觅觅官网</a>

  <span class="loadapp" ng-click="loadApp()">点击下载App</span>
</div>