/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-act {
  background-image: url(../images/sprite.png);
  background-position: -186px -90px;
  width: 30px;
  height: 30px;
}
.icon-add-act {
  background-image: url(../images/sprite.png);
  background-position: -120px -68px;
  width: 34px;
  height: 34px;
}
.icon-back-arrow {
  background-image: url(../images/sprite.png);
  background-position: 0px -120px;
  width: 34px;
  height: 34px;
}
.icon-back-reverse {
  background-image: url(../images/sprite.png);
  background-position: -120px -34px;
  width: 34px;
  height: 34px;
}
.icon-back {
  background-image: url(../images/sprite.png);
  background-position: -68px -120px;
  width: 34px;
  height: 34px;
}
.icon-close {
  background-image: url(../images/sprite.png);
  background-position: -120px -102px;
  width: 16px;
  height: 16px;
}
.icon-code-red {
  background-image: url(../images/sprite.png);
  background-position: -166px -186px;
  width: 22px;
  height: 22px;
}
.icon-code {
  background-image: url(../images/sprite.png);
  background-position: -188px -186px;
  width: 22px;
  height: 22px;
}
.icon-deleteman {
  background-image: url(../images/sprite.png);
  background-position: -120px 0px;
  width: 34px;
  height: 34px;
}
.icon-detailPhone {
  background-image: url(../images/sprite.png);
  background-position: -136px -102px;
  width: 15px;
  height: 15px;
}
.icon-eat {
  background-image: url(../images/sprite.png);
  background-position: -60px 0px;
  width: 60px;
  height: 60px;
}
.icon-expand {
  background-image: url(../images/sprite.png);
  background-position: -134px -134px;
  width: 14px;
  height: 14px;
}
.icon-flag {
  background-image: url(../images/sprite.png);
  background-position: -186px -60px;
  width: 30px;
  height: 30px;
}
.icon-fresh-click {
  background-image: url(../images/sprite.png);
  background-position: -24px -186px;
  width: 24px;
  height: 24px;
}
.icon-fresh {
  background-image: url(../images/sprite.png);
  background-position: 0px -186px;
  width: 24px;
  height: 24px;
}
.icon-infor {
  background-image: url(../images/sprite.png);
  background-position: -34px -120px;
  width: 34px;
  height: 34px;
}
.icon-launch-act {
  background-image: url(../images/sprite.png);
  background-position: -154px -32px;
  width: 32px;
  height: 32px;
}
.icon-live {
  background-image: url(../images/sprite.png);
  background-position: 0px -60px;
  width: 60px;
  height: 60px;
}
.icon-more {
  background-image: url(../images/sprite.png);
  background-position: -216px 0px;
  width: 15px;
  height: 13px;
}
.icon-msg {
  background-image: url(../images/sprite.png);
  background-position: -128px -154px;
  width: 30px;
  height: 30px;
}
.icon-my-click {
  background-image: url(../images/sprite.png);
  background-position: -86px -94px;
  width: 24px;
  height: 24px;
}
.icon-my-flag {
  background-image: url(../images/sprite.png);
  background-position: 0px -154px;
  width: 32px;
  height: 32px;
}
.icon-my-msg {
  background-image: url(../images/sprite.png);
  background-position: -154px -64px;
  width: 32px;
  height: 32px;
}
.icon-my-order {
  background-image: url(../images/sprite.png);
  background-position: -64px -154px;
  width: 32px;
  height: 32px;
}
.icon-my-praise {
  background-image: url(../images/sprite.png);
  background-position: -96px -154px;
  width: 32px;
  height: 32px;
}
.icon-my {
  background-image: url(../images/sprite.png);
  background-position: -96px -186px;
  width: 24px;
  height: 24px;
}
.icon-order-eat {
  background-image: url(../images/sprite.png);
  background-position: -60px -94px;
  width: 26px;
  height: 26px;
}
.icon-order-live {
  background-image: url(../images/sprite.png);
  background-position: -154px -128px;
  width: 26px;
  height: 26px;
}
.icon-order-play {
  background-image: url(../images/sprite.png);
  background-position: -94px -60px;
  width: 26px;
  height: 26px;
}
.icon-order {
  background-image: url(../images/sprite.png);
  background-position: -186px 0px;
  width: 30px;
  height: 30px;
}
.icon-parise-red {
  background-image: url(../images/sprite.png);
  background-position: -154px -96px;
  width: 32px;
  height: 32px;
}
.icon-parise {
  background-image: url(../images/sprite.png);
  background-position: -186px -120px;
  width: 30px;
  height: 30px;
}
.icon-participate-act {
  background-image: url(../images/sprite.png);
  background-position: -32px -154px;
  width: 32px;
  height: 32px;
}
.icon-phone-big {
  background-image: url(../images/sprite.png);
  background-position: -102px -120px;
  width: 32px;
  height: 32px;
}
.icon-play {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 60px;
  height: 60px;
}
.icon-prise {
  background-image: url(../images/sprite.png);
  background-position: -186px -30px;
  width: 30px;
  height: 30px;
}
.icon-recommend-click {
  background-image: url(../images/sprite.png);
  background-position: -120px -186px;
  width: 24px;
  height: 24px;
}
.icon-recommend {
  background-image: url(../images/sprite.png);
  background-position: -72px -186px;
  width: 24px;
  height: 24px;
}
.icon-red-code {
  background-image: url(../images/sprite.png);
  background-position: -144px -186px;
  width: 22px;
  height: 22px;
}
.icon-right-arrow {
  background-image: url(../images/sprite.png);
  background-position: -134px -120px;
  width: 14px;
  height: 14px;
}
.icon-search {
  background-image: url(../images/sprite.png);
  background-position: -60px -60px;
  width: 34px;
  height: 34px;
}
.icon-seek-click {
  background-image: url(../images/sprite.png);
  background-position: -48px -186px;
  width: 24px;
  height: 24px;
}
.icon-seek {
  background-image: url(../images/sprite.png);
  background-position: -158px -154px;
  width: 24px;
  height: 24px;
}
.icon-share-big {
  background-image: url(../images/sprite.png);
  background-position: -154px 0px;
  width: 32px;
  height: 32px;
}
.icon-wallet {
  background-image: url(../images/sprite.png);
  background-position: -186px -150px;
  width: 30px;
  height: 30px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-act {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-add-act {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-back-arrow {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-back-reverse {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-back {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-close {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-code-red {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-code {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-deleteman {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-detailPhone {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-eat {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-expand {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-flag {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-fresh-click {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-fresh {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-infor {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-launch-act {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-live {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-more {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-msg {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-my-click {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-my-flag {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-my-msg {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-my-order {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-my-praise {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-my {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-order-eat {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-order-live {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-order-play {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-order {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-parise-red {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-parise {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-participate-act {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-phone-big {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-play {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-prise {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-recommend-click {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-recommend {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-red-code {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-right-arrow {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-search {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-seek-click {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-seek {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-share-big {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
  .icon-wallet {
    background-image: url(../images/sprite@2x.png);
    background-size: 231px 210px;
  }
}
