<ion-view title="我发起的觅趣" hide-tabs="true">
  <ion-nav-buttons side="left">
    <i class="icon-back" ui-sref="tab.my"></i>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <i class="icon-add-act add-act-pos" ui-sref="tab.mysponsoract_1"></i>
  </ion-nav-buttons>

  <ion-content overflow-scroll="false">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <div class="tmm-order-list">
      <createact-item></createact-item>
    </div>
    <ion-infinite-scroll on-infinite="loadMore()" ng-if="model.nextPage" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
