@charset "UTF-8";
.tmm-bankcard-manage {
  background-color: $bgColor;
  .card-top {
    padding: 35px 0px;
    text-align: center;

    &>img {
      width: 120px;
    }
  }
  .bankcard-list {
    padding-left:15px;
    background-color: #fff;

    & >:last-child { background-image: none; }

    .bankcard-item {
      @extend %border-bottom;
      background-color: $whiteColor;
      /* display: inline-flex;
      padding-left: 0;
      height: 52px;
      line-height: 52px;
      width: 100%; */

      display: flex;
      align-items: center;

      div {
        margin: 16px 0;
        &:nth-child(1) {
          width: 30%;
        }
        &:nth-child(2) {
          width: 70%;
          padding-right: 16px;
          text-align: right;
        }
      }
      
      .bankcard-title {
        width: 80px;
        font-size: 14px;
        font-weight: bold;
        color: #8e8e93;
        margin-right: 10px;
      }

      .bankcard-input{
        vertical-align: inherit;
        display: initial;
        padding-top: 0px;
      }
    }
  }
  .bankcard-tip {
    color: #999;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
  }
}