.banner {
  height: $bannerHeight;
  margin-top: $headerHeight;
  *padding-top: $headerHeight;

  .big-img {
    width: 100%;
    height: 100%;
  }
  .img1 {
    background: url('../images/banner01.png') center center;
    background-size: auto $bannerHeight;
  }
  .img2 {
    background: url('../images/banner02.png') center center;
    background-size: auto $bannerHeight;
  }
  .img3 {
    background: url('../images/banner03.png') center center;
    background-size: auto $bannerHeight;
  }
  .img4 {
    background: url('../images/banner04.png') center center;
    background-size: auto $bannerHeight;
  }
  .img5 {
    background: url('../images/banner05.png') center center;
    background-size: auto $bannerHeight;
  }
  .img6 {
    background: url('../images/banner06.png') center center;
    background-size: auto $bannerHeight;
  }
  .img7 {
    background: url('../images/banner07.png') center center;
    background-size: auto $bannerHeight;
  }
  .img8 {
    background: url('../images/banner08.png') center center;
    background-size: auto $bannerHeight;
  }
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {

    .img1 {
      background: url('../images/banner01@2x.png') center center;
      background-size: auto $bannerHeight;
    }
    .img2 {
      background: url('../images/banner02@2x.png') center center;
      background-size: auto $bannerHeight;
    }
    .img3 {
      background: url('../images/banner03@2x.png') center center;
      background-size: auto $bannerHeight;
    }
    .img4 {
      background: url('../images/banner04@2x.png') center center;
      background-size: auto $bannerHeight;
    }
    .img5 {
      background: url('../images/banner05@2x.png') center center;
      background-size: auto $bannerHeight;
    }
    .img6 {
      background: url('../images/banner06@2x.png') center center;
      background-size: auto $bannerHeight;
    }
    .img7 {
      background: url('../images/banner07@2x.png') center center;
      background-size: auto $bannerHeight;
    }
    .img8 {
      background: url('../images/banner08@2x.png') center center;
      background-size: auto $bannerHeight;
    }
  }
  
  // 联系我们banner页面
  .img-wrap {
    position: absolute;
    left: 50%;
    margin-left: -$commonWidth/2;
    width: $commonWidth;
    height: $bannerHeight;

    .icon-companyProfile {
      position: absolute;
      right: 896px;
      top: 120px;
    }
    .desc {
      position: absolute;
      top: 100px;
      right: 0;
      width: 800px;
      font-size: 16px;
      line-height: 2em;
      color: #000;
      text-align: justify;

      p {
        margin-bottom: 18px;
      }
    }

  }
}



