<ion-view view-title="田觅觅" hide-tabs="true">
  <navbar back title="农产品特产"></navbar>
  <ion-content>
    <div class="cellcard" ng-repeat="item in model" ng-click="goFresh(item.item_name, item.item_info, item.item_img, item.item_link)">
      <div class="innerbody">
        <div class="img"><img ng-src="{{item.item_img}}"></div>
        <div class="intro">
          <div class="tit">{{item.item_name}}</div>
          <div class="txt txt-clamp">{{item.item_info}}</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
