@charset "UTF-8";
.tmm-payment-setpwd {
  background-color: $bgColor;
  
  .payment-content {
    padding-top: 40px;

    .passwd-msg {
      margin-top: 30px;
      margin-bottom: 20px;
      text-align: center;
    }

    .passwd-button {
      display: block;
      margin: 35px 16px 0;
      background-color: #ccc;
      border-radius: 4px;
      color: $whiteColor;
      text-align: center;
      line-height: 40px;
      font-size: 16px;
    }

    .btnColor {
      background-color: $btnGreen;
    }
  }
}

.passwd-wrap {
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  .passwd-item {
    position: relative;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    border: 1px solid $darkGray;
    background-color: $whiteColor;
    border-right: none;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  .pwd-input {
    /* @extend .passwd-item; */
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -5px;
      margin-top: -5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $blackColor;
    }
  }

  &>:last-child {
    border-right: 1px solid $darkGray;
  }
}

//虚拟键盘
.keyboard {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 0;
  transition: all .25s;
  -webkit-transition: all .25s;
  transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  z-index: 10;
  background-color: $whiteColor;
  line-height: 0;

  .keyboard-item {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 33.33%;
    background-size: 100% 100%;

    &:active, .active-state {
      -webkit-transition-duration: 0ms;
      transition-duration: 0ms;
      background-color: #d9d9d9;
    }

    &:before {
      content: '';
      display: block;
      padding-top: 43.7%;
    }

    &:nth-child(1) {
      background-image: url(../images/keyboard/num1.png);
    }

    &:nth-child(2) {
      background-image: url(../images/keyboard/num2.png);
    }

    &:nth-child(3) {
      background-image: url(../images/keyboard/num3.png);
    }

    &:nth-child(4) {
      background-image: url(../images/keyboard/num4.png);
    }

    &:nth-child(5) {
      background-image: url(../images/keyboard/num5.png);
    }

    &:nth-child(6) {
      background-image: url(../images/keyboard/num6.png);
    }

    &:nth-child(7) {
      background-image: url(../images/keyboard/num7.png);
    }

    &:nth-child(8) {
      background-image: url(../images/keyboard/num8.png);
    }

    &:nth-child(9) {
      background-image: url(../images/keyboard/num9.png);
    }

    &:nth-child(10) {
      background-image: url(../images/keyboard/null.png);
    }

    &:nth-child(11) {
      background-image: url(../images/keyboard/num0.png);
    }

    &:nth-child(12) {
      background-image: url(../images/keyboard/back.png);
    }
  }
}