.tmmLogin {
  background: #3f3936;
  .login {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48px;
    text-align: center;
    line-height: 48px;
    background-color: #c8a063;
    z-index: 1;

    a {
      position: relative;
      display: inline-block;
      width: 49%;
      color: #111;
      font-size: 15px;
      text-decoration: none;
    }

    a.acc-login:after {
      position: absolute;
      top: 11px;
      right: 0;
      content: '';
      width: 1px;
      height: 26px;
      background: #403a39;
    }
  }

  .scroll-content {
    padding: 0;
    top: 0 !important;
    bottom: 0 !important;
    background: #3f3936;
  }

  .loginWrap {
    margin-top: 50px;
    white-space: nowrap;
  }

  .loginTitle {
    position: relative;
    line-height: 44px;
    color: #fff;
    text-align: center;
    font-size: 18px;

    .icon-arrow-back {
      position: absolute;
      width: 44px;
      text-align: center;
      left: 0px;
    }
  }
}

.login-nav {
  display: none;
}

.tmm-acc-login-wrap {
  position: relative;
  padding: 0 16px;
  margin-top: 30px;

  .item-input-wrapper {
    padding: 0;
    background: #fff;
    margin: 0;
    padding: 0;
  }
  .login-code {
    text-align: center;
    background-color: #ff595f;
    font-size: 14px;
    line-height: 27px;
    color: #fff;
    width: 107px;
    height: 30px;
    border: none;
  }
  .list-button {
    background: #3f3936;
    bottom: 0;
    .acc-login-button {
      margin: 0;
      background-color: #ff595f;
      border: none;
      color: #fff;
    }
  }
  .item-input-inset {
    height: 47px;
    justify-content: space-between;
  }
  .gray {
    background-color: #d7d9d7;
  }
}