<ion-view title="选择付款方式" hide-tabs="true" cache-view="false">
  <ion-nav-buttons side="left">
    <i class="icon-back" nav-back="back"></i>
  </ion-nav-buttons>
  <div class="act-indicator"><span class="active"></span><span class="active"></span><span class="active"></span><span></span></div>
  <ion-content class="mysponsoract">
    <div ng-click="selectPayType(1)" class="pay-type">
      <div class="pay-cir">代付</div>
      <div class="pay-info">发起人统一支付费用</div>
    </div>
    <div ng-click="selectPayType(0)" class="pay-type aa-type">
      <div class="pay-cir">自费</div>
      <div class="pay-info">参与人自己支付费用</div>
    </div>
  </ion-content>
</ion-view>
