<ion-modal-view class="tmmLogin">

  <ion-content class="padding" scroll="false">
  <!--帐号密码登录-->
    <div class="loginTitle">{{title}}</div>

    
    <div class="tmm-acc-login-wrap" ng-if="isAccLogin">
      <div class="list list-inset ">
        <label class="item item-input">
          <input type="text" placeholder="请输入手机号" ng-model="accModel.phone">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="请输入密码" ng-model="accModel.password">
        </label>
      </div>
      <div class="list list-inset list-button">
        <button class="button button-block acc-login-button" ng-click="accLogin()">
          登录
        </button>
      </div>
    </div>
    <!--帐号密码登录结束-->

    <!--手机号快捷登录-->
    <div class="tmm-acc-login-wrap" ng-if="!isAccLogin">
      <div class="list list-inset ">
        <label class="item item-input">
          <input type="text" placeholder="请输入手机号" ng-model="mobModel.phone">
        </label>
        
        <div class="item item-input-inset">
          <label class="item-input-wrapper ">
            <input type="text" placeholder="请输入短信验证码" ng-model="mobModel.code">
          </label>
          <button class="login-code" ng-class="{'gray': disable}" ng-click="getMsgCode()">{{txt}}</button>
        </div>
      </div>
      <div class="list list-inset list-button">
        <button class="button button-block acc-login-button" ng-click="mobLogin()">
          登录
        </button>
      </div>
    </div>

    <!--手机号快捷登录结束-->
    <span ng-click="cancel()" class="tmm-login-back icon-back-arrow"></span>
    <div class="login" ng-style="loginStyle">
      <a class="acc-login" href="javascript:;" ng-click="showLogin(1)">帐号密码登录</a>
      <a class="mob-login" href="javascript:;" ng-click="showLogin(2)">手机号快捷登录</a>
    </div>
  </ion-content>
</ion-modal-view>